.acordeon__wrapper
    input(type="radio" name="acordeon-item" value="1" id="acordeon-item-1" checked)
    label(for="acordeon-item-1").acordeon__item
        .acordeon__title Последний шанс купить
        .acordeon__content
            .no-result__wrapper
                .no-result__icon
                    img(src="img/hotoffer/search.svg")
                | На данный момент все объекты этой категории забронированы.
            .acordeon__text
                .img__wrapper
                    img(src="img/hotoffer/label.svg")
                | Не упустите возможность приобрести последние квартиры с самыми продаваемыми планировками.
            .cards__items__wrapper
                .card__wrapper
                    .card__ticket.card__ticket-label
                        img(src="img/hotoffer/ticket-label.svg")
                    .card__row.card__row-type
                        .card__cell.card__cell-type-finishing c отделкой
                        .card__cell.card__cell-type-notfinish без отделки
                        .card__cell.card__cell-type-office "домашний офис"
                        .card__cell.card__cell-type-discount скидка 2%
                    .card__slider
                        img(src="img/hotoffer/plane-1.png")
                    .card__row.card__row-meters-apartment
                        .card__title Студия
                        .card__meters-apartment 22.55 м2
                            sup 2
                    .card__row.card__row-info
                        .card__cell.card__cell-deadline
                            .card__lable Срок сдачи
                            .card__text  3 кв. 2022
                        .card__cell.card__cell-korp
                            .card__lable Корпус
                            .card__text  36
                        .card__cell.card__cell-floor
                            .card__lable Этаж
                            .card__text  2 из 27
                    .card__footer
                        .card__footer__item
                            .card__cell.card__cell-price 3 614 765 ₽
                            .card__cell.card__cell-square-meter от 19 084 ₽/мес.
                        .card__footer__item
                            a(href="#").card__footer__link
                                img(src="img/hotoffer/card-link.svg")
                .card__wrapper
                    .card__ticket.card__ticket-label
                        img(src="img/hotoffer/ticket-label.svg")
                    .card__row.card__row-type
                        .card__cell.card__cell-type-finishing c отделкой
                        .card__cell.card__cell-type-notfinish без отделки
                        .card__cell.card__cell-type-office "домашний офис"
                        .card__cell.card__cell-type-discount скидка 2%
                    .card__slider
                        img(src="img/hotoffer/plane-1.png")
                    .card__row.card__row-meters-apartment
                        .card__title Студия
                        .card__meters-apartment 22.55 м2
                            sup 2
                    .card__row.card__row-info
                        .card__cell.card__cell-deadline
                            .card__lable Срок сдачи
                            .card__text  3 кв. 2022
                        .card__cell.card__cell-korp
                            .card__lable Корпус
                            .card__text  36
                        .card__cell.card__cell-floor
                            .card__lable Этаж
                            .card__text  2 из 27
                    .card__footer
                        .card__footer__item
                            .card__cell.card__cell-price 3 614 765 ₽
                            .card__cell.card__cell-square-meter от 19 084 ₽/мес.
                        .card__footer__item
                            a(href="#").card__footer__link
                                img(src="img/hotoffer/card-link.svg")
                .card__wrapper
                    .card__ticket.card__ticket-label
                        img(src="img/hotoffer/ticket-label.svg")
                    .card__row.card__row-type
                        .card__cell.card__cell-type-finishing c отделкой
                        .card__cell.card__cell-type-notfinish без отделки
                        .card__cell.card__cell-type-office "домашний офис"
                        .card__cell.card__cell-type-discount скидка 2%
                    .card__slider
                        img(src="img/hotoffer/plane-1.png")
                    .card__row.card__row-meters-apartment
                        .card__title Студия
                        .card__meters-apartment 22.55 м2
                            sup 2
                    .card__row.card__row-info
                        .card__cell.card__cell-deadline
                            .card__lable Срок сдачи
                            .card__text  3 кв. 2022
                        .card__cell.card__cell-korp
                            .card__lable Корпус
                            .card__text  36
                        .card__cell.card__cell-floor
                            .card__lable Этаж
                            .card__text  2 из 27
                    .card__footer
                        .card__footer__item
                            .card__cell.card__cell-price 3 614 765 ₽
                            .card__cell.card__cell-square-meter от 19 084 ₽/мес.
                        .card__footer__item
                            a(href="#").card__footer__link
                                img(src="img/hotoffer/card-link.svg")
            button.button__wrapper Загрузить ещё
    input(type="radio" name="acordeon-item" value="1" id="acordeon-item-2")
    label(for="acordeon-item-2").acordeon__item
        .acordeon__title Уникальное предложение
        .acordeon__content
            .no-result__wrapper
                .no-result__icon
                    img(src="img/hotoffer/search.svg")
                | На данный момент все объекты этой категории забронированы.
            .acordeon__text
                .img__wrapper
                    img(src="img/hotoffer/diamond.svg")
                | Уделите внимание планировкам с «изюминкой».
            .cards__items__wrapper
                .card__wrapper
                    .card__ticket.card__ticket-diamond
                        img(src="img/hotoffer/ticket-diamond.svg")
                    .card__row.card__row-type
                        .card__cell.card__cell-type-finishing c отделкой
                        .card__cell.card__cell-type-notfinish без отделки
                        .card__cell.card__cell-type-office "домашний офис"
                        .card__cell.card__cell-type-discount скидка 2%
                    .card__slider
                        img(src="img/hotoffer/plane-1.png")
                    .card__row.card__row-meters-apartment
                        .card__title Студия
                        .card__meters-apartment 22.55 м2
                            sup 2
                    .card__row.card__row-info
                        .card__cell.card__cell-deadline
                            .card__lable Срок сдачи
                            .card__text  III квартал 2023г.
                        .card__cell.card__cell-korp
                            .card__lable Корпус
                            .card__text  36
                        .card__cell.card__cell-floor
                            .card__lable Этаж
                            .card__text  2 из 27
                    .card__footer
                        .card__footer__item
                            .card__cell.card__cell-price 3 614 765 ₽
                            .card__cell.card__cell-square-meter от 19 084 ₽/мес.
                        .card__footer__item
                            a(href="#").card__footer__link
                                img(src="img/hotoffer/card-link.svg")
                .card__wrapper
                    .card__ticket.card__ticket-diamond
                        img(src="img/hotoffer/ticket-diamond.svg")
                    .card__row.card__row-type
                        .card__cell.card__cell-type-finishing c отделкой
                        .card__cell.card__cell-type-notfinish без отделки
                        .card__cell.card__cell-type-office "домашний офис"
                        .card__cell.card__cell-type-discount скидка 2%
                    .card__slider
                        img(src="img/hotoffer/plane-1.png")
                    .card__row.card__row-meters-apartment
                        .card__title Студия
                        .card__meters-apartment 22.55 м2
                            sup 2
                    .card__row.card__row-info
                        .card__cell.card__cell-deadline
                            .card__lable Срок сдачи
                            .card__text  III квартал 2023г.
                        .card__cell.card__cell-korp
                            .card__lable Корпус
                            .card__text  36
                        .card__cell.card__cell-floor
                            .card__lable Этаж
                            .card__text  2 из 27
                    .card__footer
                        .card__footer__item
                            .card__cell.card__cell-price 3 614 765 ₽
                            .card__cell.card__cell-square-meter от 19 084 ₽/мес.
                        .card__footer__item
                            a(href="#").card__footer__link
                                img(src="img/hotoffer/card-link.svg")
                .card__wrapper
                    .card__ticket.card__ticket-diamond
                        img(src="img/hotoffer/ticket-diamond.svg")
                    .card__row.card__row-type
                        .card__cell.card__cell-type-finishing c отделкой
                        .card__cell.card__cell-type-notfinish без отделки
                        .card__cell.card__cell-type-office "домашний офис"
                        .card__cell.card__cell-type-discount скидка 2%
                    .card__slider
                        img(src="img/hotoffer/plane-1.png")
                    .card__row.card__row-meters-apartment
                        .card__title Студия
                        .card__meters-apartment 22.55 м2
                            sup 2
                    .card__row.card__row-info
                        .card__cell.card__cell-deadline
                            .card__lable Срок сдачи
                            .card__text  III квартал 2023г.
                        .card__cell.card__cell-korp
                            .card__lable Корпус
                            .card__text  36
                        .card__cell.card__cell-floor
                            .card__lable Этаж
                            .card__text  2 из 27
                    .card__footer
                        .card__footer__item
                            .card__cell.card__cell-price 3 614 765 ₽
                            .card__cell.card__cell-square-meter от 19 084 ₽/мес.
                        .card__footer__item
                            a(href="#").card__footer__link
                                img(src="img/hotoffer/card-link.svg")
            button.button__wrapper Загрузить ещё
    input(type="radio" name="acordeon-item" value="1" id="acordeon-item-3")
    label(for="acordeon-item-3").acordeon__item.acordeon__item-table
        .acordeon__title Вместительный паркинг / для больших авто
        .acordeon__content.acordeon__content-table
            .no-result__wrapper
                .no-result__icon
                    img(src="img/hotoffer/search.svg")
                | На данный момент все объекты этой категории забронированы.
            .acordeon__text
                .img__wrapper
                    img(src="img/hotoffer/parking.svg")
                | Расширяйте возможности, смело паркуйтесь.
            .table__wrapper
                .table__row.table__row-header
                    .table__cell Адрес
                    .table__cell Этаж
                    .table__cell Увеличенное
                .table__row
                    .table__cell ул. Шишкина, участок 21, (восточнее дома 277, литера Б по ул. Шишкина (21-1)), корпус 29
                    .table__cell 4
                    .table__cell 781 750 руб.
                .table__row
                    .table__cell ул. Шишкина, участок 21, (восточнее дома 277, литера Б по ул. Шишкина (21-1)), корпус 29
                    .table__cell 4
                    .table__cell 781 750 руб.
                .table__row
                    .table__cell ул. Шишкина, участок 21, (восточнее дома 277, литера Б по ул. Шишкина (21-1)), корпус 29
                    .table__cell 4
                    .table__cell 781 750 руб.
                .table__row
                    .table__cell ул. Шишкина, участок 21, (восточнее дома 277, литера Б по ул. Шишкина (21-1)), корпус 29
                    .table__cell 4
                    .table__cell 781 750 руб.
