.baner__wrapper
    .img__wrapper
        picture
            source(media="(min-width: 1367px)" data-srcset="img/hotoffer/baner.png" srcset="img/hotoffer/baner.png")
            source(media="(min-width: 1280px)" data-srcset="img/hotoffer/baner-1366.png" srcset="img/hotoffer/baner-1366.png")
            source(media="(min-width: 767px)" data-srcset="img/hotoffer/baner-768.png" srcset="img/hotoffer/baner-768.png")
            source(media="(min-width: 320px)" data-srcset="img/hotoffer/baner-320.png" srcset="img/hotoffer/baner-320.png")
            img(src="img/hotoffer/baner.png")
    .baner__title Горячие
        br
        | предложения
    .baner__subtitle Cамые актуальные предложения за неделю
    .baner__text Мы подобрали для вас объекты с интересными ценовыми предложениями, нестандартными планировками и вместительными паркингами
