.cards__section
    .cards__items__wrapper
        a(href="#").card__wrapper
            .card__row.card__row-type
                .card__cell.card__cell-type-finishing c отделкой
                .card__cell.card__cell-type-notfinish без отделки
                .card__cell.card__cell-type-office "домашний офис"
                .card__cell.card__cell-type-discount скидка 2%
            .card__slider
                img(src="img/news/card-img-1.png")
            .card__row.card__row-meters-apartment
                .card__title 1-комнатная
                .card__meters-apartment 54.25 м
                    sup 2
            .card__row.card__row-info
                .card__cell.card__cell-deadline
                    .card__lable Срок сдачи
                    .card__text  2 кв. 2022
                .card__cell.card__cell-korp
                    .card__lable Корпус
                    .card__text  10
                .card__cell.card__cell-floor
                    .card__lable Этаж
                    .card__text  3 из 22
            .card__footer
                .card__cell.card__cell-square-meter от 24 678 ₽/мес.
                .card__cell.card__cell-price 2 587 890 ₽
        a(href="#").card__wrapper
            .card__row.card__row-type
                .card__cell.card__cell-type-finishing c отделкой
                .card__cell.card__cell-type-notfinish без отделки
                .card__cell.card__cell-type-office "домашний офис"
                .card__cell.card__cell-type-discount скидка 2%
            .card__slider
                img(src="img/news/card-img-1.png")
            .card__row.card__row-meters-apartment
                .card__title 1-комнатная
                .card__meters-apartment 54.25 м
                    sup 2
            .card__row.card__row-info
                .card__cell.card__cell-deadline
                    .card__lable Срок сдачи
                    .card__text  2 кв. 2022
                .card__cell.card__cell-korp
                    .card__lable Корпус
                    .card__text  10
                .card__cell.card__cell-floor
                    .card__lable Этаж
                    .card__text  3 из 22
            .card__footer
                .card__cell.card__cell-square-meter от 24 678 ₽/мес.
                .card__cell.card__cell-price 2 587 890 ₽
        a(href="#").card__wrapper
            .card__row.card__row-type
                .card__cell.card__cell-type-finishing c отделкой
                .card__cell.card__cell-type-notfinish без отделки
                .card__cell.card__cell-type-office "домашний офис"
                .card__cell.card__cell-type-discount скидка 2%
            .card__slider
                img(src="img/news/card-img-1.png")
            .card__row.card__row-meters-apartment
                .card__title 1-комнатная
                .card__meters-apartment 54.25 м
                    sup 2
            .card__row.card__row-info
                .card__cell.card__cell-deadline
                    .card__lable Срок сдачи
                    .card__text  2 кв. 2022
                .card__cell.card__cell-korp
                    .card__lable Корпус
                    .card__text  10
                .card__cell.card__cell-floor
                    .card__lable Этаж
                    .card__text  3 из 22
            .card__footer
                .card__cell.card__cell-square-meter от 24 678 ₽/мес.
                .card__cell.card__cell-price 2 587 890 ₽