.mailing-form__wrapper
    .mailing-form__title Подписаться на новости
    .mailing-form__text Будьте в курсе самых интересных предложений
    form(action="#").mailing-form
        .input__wrapper
            input(type="text" placeholder="Введите E-mail")
        input(type="submit" class="button__wrapper" value="Подписаться")
    .mailing-form__text-small Нажимая на кнопку «Подписаться» вы даете согласие на обработку персональных данных

