.empty__result
    .empty__result__img
        img(src="img/news/no-result.svg")
    .empty__result__text Новостей по вашему запросу не найдено
.news__items
    .news__item
        .news__img__wrapper
            img(src="img/news/card-1.png")
        .news__text__wrapper
            .news__info
                span.news__date 28.04.2021
                | |
                span.new__category  Новости компании
            .news__text__section
                .news__title Режим работы «Главстрой Санкт-Петербург» в праздничные дни
                .news__text В праздничные дни отделы продаж «Главстрой Санкт-Петербург» продолжают работать в особом режиме дни отделы продаж «Главстрой Санкт-Петербург» продолжают
            .news__action__wrapper
                a(href="#").news__action__link Подробнее
                .news__action__btns
                    a(href="#").news__action__btn
                        img(src="img/news/vk.svg")
                    a(href="#").news__action__btn
                        img(src="img/news/fb.svg")
                    a(href="#").news__action__btn
                        img(src="img/news/ok.svg")
                    a(href="#").news__action__btn
                        img(src="img/news/tw.svg")
    .news__item
        .news__img__wrapper
            img(src="img/news/card-2.png")
        .news__text__wrapper
            .news__info
                span.news__date 21.04.2021
                | |
                span.new__category Ход строительства
            .news__text__section
                .news__title 21 квартал: динамика строительства
                .news__text «Главстрой Санкт-Петербург» информирует о ходе строительства корпусов 21 квартала жилого комплекса «Северной долины».
            .news__action__wrapper
                a(href="#").news__action__link Подробнее
                .news__action__btns
                    a(href="#").news__action__btn
                        img(src="img/news/vk.svg")
                    a(href="#").news__action__btn
                        img(src="img/news/fb.svg")
                    a(href="#").news__action__btn
                        img(src="img/news/ok.svg")
                    a(href="#").news__action__btn
                        img(src="img/news/tw.svg")
    .news__item
        .news__img__wrapper
            img(src="img/news/card-3.png")
        .news__text__wrapper
            .news__info
                span.news__date 21.04.2021
                | |
                span.new__category Ход строительствапродаж
            .news__text__section
                .news__title 21 квартал: динамика строительства
                .news__text «Главстрой Санкт-Петербург» информирует о ходе строительства корпусов 21 квартала жилого комплекса «Северной долины».
            .news__action__wrapper
                a(href="#").news__action__link Подробнее
                .news__action__btns
                    a(href="#").news__action__btn
                        img(src="img/news/vk.svg")
                    a(href="#").news__action__btn
                        img(src="img/news/fb.svg")
                    a(href="#").news__action__btn
                        img(src="img/news/ok.svg")
                    a(href="#").news__action__btn
                        img(src="img/news/tw.svg")
    .news__item
        .news__img__wrapper
            img(src="img/news/card-4.png")
        .news__text__wrapper
            .news__info
                span.news__date 21.04.2021
                | |
                span.new__category Ход строительства
            .news__text__section
                .news__title 21 квартал: динамика строительства
                .news__text «Главстрой Санкт-Петербург» информирует о ходе строительства корпусов 21 квартала жилого комплекса «Северной долины».
            .news__action__wrapper
                a(href="#").news__action__link Подробнее
                .news__action__btns
                    a(href="#").news__action__btn
                        img(src="img/news/vk.svg")
                    a(href="#").news__action__btn
                        img(src="img/news/fb.svg")
                    a(href="#").news__action__btn
                        img(src="img/news/ok.svg")
                    a(href="#").news__action__btn
                        img(src="img/news/tw.svg")
    .news__item
        .news__img__wrapper
            img(src="img/news/card-5.png")
        .news__text__wrapper
            .news__info
                span.news__date 21.04.2021
                | |
                span.new__category Ход строительства
            .news__text__section
                .news__title «Главстрой Санкт-Петербург» вошел в число финалистов в конкурсе «Доверие потребителя»
                .news__text «Главстрой Санкт-Петербург» информирует о ходе строительства корпусов 21 квартала жилого комплекса «Северной долины».
            .news__action__wrapper
                a(href="#").news__action__link Подробнее
                .news__action__btns
                    a(href="#").news__action__btn
                        img(src="img/news/vk.svg")
                    a(href="#").news__action__btn
                        img(src="img/news/fb.svg")
                    a(href="#").news__action__btn
                        img(src="img/news/ok.svg")
                    a(href="#").news__action__btn
                        img(src="img/news/tw.svg")
    .news__item
        .news__img__wrapper
            img(src="img/news/card-6.png")
        .news__text__wrapper
            .news__info
                span.news__date 21.04.2021
                | |
                span.new__category Ход строительства
            .news__text__section
                .news__title ЖК «Юнтолово» и школа №469 в ЖК «Северная долина» признаны лидерами строительного качества
                .news__text «Главстрой Санкт-Петербург» информирует о ходе строительства корпусов 21 квартала жилого комплекса «Северной долины».
            .news__action__wrapper
                a(href="#").news__action__link Подробнее
                .news__action__btns
                    a(href="#").news__action__btn
                        img(src="img/news/vk.svg")
                    a(href="#").news__action__btn
                        img(src="img/news/fb.svg")
                    a(href="#").news__action__btn
                        img(src="img/news/ok.svg")
                    a(href="#").news__action__btn
                        img(src="img/news/tw.svg")
    .news__item
        .news__img__wrapper
            img(src="img/news/card-7.png")
        .news__text__wrapper
            .news__info
                span.news__date 21.04.2021
                | |
                span.new__category Ход строительства
            .news__text__section
                .news__title «Главстрой Санкт-Петербург» открыл продажи шестой очереди ЖК «Юнтолово»
                .news__text «Главстрой Санкт-Петербург» информирует о ходе строительства корпусов 21 квартала жилого комплекса «Северной долины».
            .news__action__wrapper
                a(href="#").news__action__link Подробнее
                .news__action__btns
                    a(href="#").news__action__btn
                        img(src="img/news/vk.svg")
                    a(href="#").news__action__btn
                        img(src="img/news/fb.svg")
                    a(href="#").news__action__btn
                        img(src="img/news/ok.svg")
                    a(href="#").news__action__btn
                        img(src="img/news/tw.svg")
    .news__item
        .news__img__wrapper
            img(src="img/news/card-8.png")
        .news__text__wrapper
            .news__info
                span.news__date 21.04.2021
                | |
                span.new__category Ход строительства
            .news__text__section
                .news__title 21 квартал: динамика строительства
                .news__text «Главстрой Санкт-Петербург» информирует о ходе строительства корпусов 21 квартала жилого комплекса «Северной долины».
            .news__action__wrapper
                a(href="#").news__action__link Подробнее
                .news__action__btns
                    a(href="#").news__action__btn
                        img(src="img/news/vk.svg")
                    a(href="#").news__action__btn
                        img(src="img/news/fb.svg")
                    a(href="#").news__action__btn
                        img(src="img/news/ok.svg")
                    a(href="#").news__action__btn
                        img(src="img/news/tw.svg")
    .news__item
        .news__img__wrapper
            img(src="img/news/card-9.png")
        .news__text__wrapper
            .news__info
                span.news__date 21.04.2021
                | |
                span.new__category Ход строительства
            .news__text__section
                .news__title «Главстрой Санкт-Петербург» вошел в число финалистов в конкурсе «Доверие потребителя»
                .news__text «Главстрой Санкт-Петербург» информирует о ходе строительства корпусов 21 квартала жилого комплекса «Северной долины».
            .news__action__wrapper
                a(href="#").news__action__link Подробнее
                .news__action__btns
                    a(href="#").news__action__btn
                        img(src="img/news/vk.svg")
                    a(href="#").news__action__btn
                        img(src="img/news/fb.svg")
                    a(href="#").news__action__btn
                        img(src="img/news/ok.svg")
                    a(href="#").news__action__btn
                        img(src="img/news/tw.svg")
    .news__item
        .news__img__wrapper
            img(src="img/news/card-1.png")
        .news__text__wrapper
            .news__info
                span.news__date 21.04.2021
                | |
                span.new__category Ход строительства
            .news__text__section
                .news__title ЖК «Юнтолово» и школа №469 в ЖК «Северная долина» признаны лидерами строительного качества
                .news__text «Главстрой Санкт-Петербург» информирует о ходе строительства корпусов 21 квартала жилого комплекса «Северной долины».
            .news__action__wrapper
                a(href="#").news__action__link Подробнее
                .news__action__btns
                    a(href="#").news__action__btn
                        img(src="img/news/vk.svg")
                    a(href="#").news__action__btn
                        img(src="img/news/fb.svg")
                    a(href="#").news__action__btn
                        img(src="img/news/ok.svg")
                    a(href="#").news__action__btn
                        img(src="img/news/tw.svg")
    .news__item
        .news__img__wrapper
            img(src="img/news/card-2.png")
        .news__text__wrapper
            .news__info
                span.news__date 21.04.2021
                | |
                span.new__category Ход строительства
            .news__text__section
                .news__title ЖК «Юнтолово» и школа №469 в ЖК «Северная долина» признаны лидерами строительного качества
                .news__text «Главстрой Санкт-Петербург» информирует о ходе строительства корпусов 21 квартала жилого комплекса «Северной долины».
            .news__action__wrapper
                a(href="#").news__action__link Подробнее
                .news__action__btns
                    a(href="#").news__action__btn
                        img(src="img/news/vk.svg")
                    a(href="#").news__action__btn
                        img(src="img/news/fb.svg")
                    a(href="#").news__action__btn
                        img(src="img/news/ok.svg")
                    a(href="#").news__action__btn
                        img(src="img/news/tw.svg")
    .news__item
        .news__img__wrapper
            img(src="img/news/card-3.png")
        .news__text__wrapper
            .news__info
                span.news__date 21.04.2021
                | |
                span.new__category Ход строительства
            .news__text__section
                .news__title ЖК «Юнтолово» и школа №469 в ЖК «Северная долина» признаны лидерами строительного качества
                .news__text «Главстрой Санкт-Петербург» информирует о ходе строительства корпусов 21 квартала жилого комплекса «Северной долины».
            .news__action__wrapper
                a(href="#").news__action__link Подробнее
                .news__action__btns
                    a(href="#").news__action__btn
                        img(src="img/news/vk.svg")
                    a(href="#").news__action__btn
                        img(src="img/news/fb.svg")
                    a(href="#").news__action__btn
                        img(src="img/news/ok.svg")
                    a(href="#").news__action__btn
                        img(src="img/news/tw.svg")