.sort__wrapper
    .sort__year
        a(href="#").sort__item.sort__item-active За все время
        a(href="#").sort__item 2021
        a(href="#").sort__item 2020
        a(href="#").sort__item 2019
        a(href="#").sort__item 2018
        a(href="#").sort__item 2017
        a(href="#").sort__item 2016
        a(href="#").sort__item 2015
        a(href="#").sort__item 2014
        a(href="#").sort__item 2013
        a(href="#").sort__item 2012
        a(href="#").sort__item 2011
        a(href="#").sort__item 2010
    form(class="search__wrapper")
        .input__wrapper
            input(type="text" name="search-text" placeholder="Поиск")
        input(type="submit" name="search-submit" value="" class="search__btn")
    .sort__btn
        img(src="img/news/sort-btn.svg")
    .sort__topic
        a(href="#").sort__item.sort__item-active Все новости
        a(href="#").sort__item Ход строительства
        a(href="#").sort__item Старт продаж
        a(href="#").sort__item Социальные объекты
        a(href="#").sort__item Коммерческая недвижимость
        a(href="#").sort__item Ипотека
        a(href="#").sort__item Акции
        a(href="#").sort__item Новости компании
        a(href="#").sort__item Мероприятия
        .close__wrapper
            img(src="img/news/close.svg")