.layout
  &__wrapper
    max-width: 1366px
    margin: 0 auto
    @media(max-width: 1366px)
      margin: 0 42px
    @media(max-width: 767px)
      margin: 0 10px
  &__title
    font-size: 24px
    line-height: 112%
    font-family: Gilroy-Bold, Arial, sans-serif
    color: #005BB9
    margin-bottom: 35px
    text-transform: uppercase


