.layout__wrapper.layout__wrapper-9
    .content__section
        .accordion__wrapper
            .layout__title планы развития инфраструктуры. планы строительства
            input(type="radio" name="accordion" value="1" id="2021-year")
            label(for="2021-year" class="accordion__item")
                .accordion__label 2021
                .accordion__text корпуса 5-14 II этапа строительства
                .accordion__text школа №15
                .accordion__text корпуса 30-40 IV этапа строительства
                .accordion__text паркинг корпусов 4, 29, 33
            input(type="radio" name="accordion" value="2" id="2022-year")
            label(for="2022-year" class="accordion__item")
                .accordion__label 2022
                .accordion__text корпуса 41-43 IV этапа строительства
            input(type="radio" name="accordion" value="3" id="2023-year")
            label(for="2023-year" class="accordion__item")
                .accordion__label 2023
                .accordion__text корпуса 1-3 I этапа строительства
                .accordion__text корпуса 16-24 III этапа строительства
                .accordion__text корпуса 15
                .accordion__text долина парк
                .accordion__text детская и взрослая поликлиники
            input(type="radio" name="accordion" value="4" id="2024-year")
            label(for="2024-year" class="accordion__item")
                .accordion__label 2024
                .accordion__text корпуса 25-28 III этапа строительства
                .accordion__text школа №48
                .accordion__text детский сад №47
                .accordion__text две гостиницы
                .accordion__text школа искусств
                .accordion__text бани, прачечные, химчистки
                .accordion__text пожарное депо
                .accordion__text спортивные залы и бассейны
                .accordion__text комплекс многоуровневых паркингов
        .layout__img
            .layout__title планы развития инфраструктуры. планы строительства
            img(src="img/about/lay-9.png")
    .subscribe__section
        .layout__title Офисы продаж и шоу-румы
        .layout__text Приглашаем посмотреть весь каталог квартир, оценить качество отделки в шоу-румах и задать интересующие вопросы нашим менеджерам.
        a(href="#" class="subscribe-btn") Заказать звонок









