.layout__wrapper.layout__wrapper-7
    .layout__title отделка квартир
    .finishing__tabs
        .finishing__tab.finishing__tab-active(data-key="comfort") Комфорт
        .finishing__tab(data-key="standard") Стандарт
        .finishing__tab(data-key="without-finishing") Без отделки
        .finishing__text__section Мы предлагаем квартиры как без отделки, так и с качественной чистовой отделкой.
    .finishing__content.finishing__content-active(data-anchor="comfort")
        .layout__text Два нейтральных цветовых решения "Ванильное небо" и "Кофе с молоком" подойдут для воплощения любых дизайнерских идей.
        .finishing__type__tabs
            .finishing__type__tab.finishing__type__tab-active(data-key="vanilla") Ванильное небо
            .finishing__type__tab(data-key="coffee") Кофе с молоком
        .finishing__type__content.finishing__type__content-active(data-anchor="vanilla")
            .slider__wrapper
                .slider-finishing
                    .slide
                        img(src="img/about/slider-finishing/vanilla/slide-1.png")
                    .slide
                        img(src="img/about/slider-finishing/vanilla/slide-2.png")
                    .slide
                        img(src="img/about/slider-finishing/vanilla/slide-3.png")
                    .slide
                        img(src="img/about/slider-finishing/vanilla/slide-4.png")
                    .slide
                        img(src="img/about/slider-finishing/vanilla/slide-5.png")
                    .slide
                        img(src="img/about/slider-finishing/vanilla/slide-6.png")
                    .slide
                        img(src="img/about/slider-finishing/vanilla/slide-7.png")
                    .slide
                        img(src="img/about/slider-finishing/vanilla/slide-8.png")
                    .slide
                        img(src="img/about/slider-finishing/vanilla/slide-9.png")
                    .slide
                        img(src="img/about/slider-finishing/vanilla/slide-10.png")
            .finishing__ul
                .finishing__ul__title В состав отделки входят:
                .finishing__li
                    .finishing__li__text Фактурные обои под покраску
                    .finishing__li__text Глухие или остекленные межкомнатные двери, цвет: дуб дымчатый
                    .finishing__li__text Керамическая плитка в санузлах
                    .finishing__li__text Дверная фурнитура, цвет : хром
                .finishing__li
                    .finishing__li__text Ламинат 32 класса, цвет: сенегал
                    .finishing__li__text Панельные стальные радиаторы со встроенными терморегуляторами, цвет: белый
                    .finishing__li__text Полный комплект сантехники в ванной
                    .finishing__li__text Входная металлическая дверь с толщиной листа 1,2 мм

        .finishing__type__content(data-anchor="coffee")
            .slider__wrapper
                .slider-finishing
                    .slide
                        img(src="img/about/slider-finishing/coffee/slide-1.png")
                    .slide
                        img(src="img/about/slider-finishing/coffee/slide-2.png")
                    .slide
                        img(src="img/about/slider-finishing/coffee/slide-3.png")
                    .slide
                        img(src="img/about/slider-finishing/coffee/slide-4.png")
                    .slide
                        img(src="img/about/slider-finishing/coffee/slide-5.png")
                    .slide
                        img(src="img/about/slider-finishing/coffee/slide-6.png")
                    .slide
                        img(src="img/about/slider-finishing/coffee/slide-7.png")
                    .slide
                        img(src="img/about/slider-finishing/coffee/slide-8.png")
                    .slide
                        img(src="img/about/slider-finishing/coffee/slide-9.png")
            .finishing__ul
                .finishing__ul__title В состав отделки входят:
                .finishing__li
                    .finishing__li__text Фактурные обои под покраску
                    .finishing__li__text Глухие или остекленные межкомнатные двери, цвет: дуб табак
                    .finishing__li__text Керамическая плитка в санузлах
                    .finishing__li__text Дверная фурнитура, цвет : хром
                .finishing__li
                    .finishing__li__text Ламинат 32 класса, цвет: дуб тёмный шоколад
                    .finishing__li__text Панельные стальные радиаторы со встроенными терморегуляторами, цвет: белый
                    .finishing__li__text Полный комплект сантехники в ванной
                    .finishing__li__text Входная металлическая дверь с толщиной листа 1,2 мм

    .finishing__content(data-anchor="standard")
        .finishing__type__tabs
            .finishing__type__tab.finishing__type__tab-active(data-key="optima") Ванильное небо
        .finishing__type__content.finishing__type__content-active(data-anchor="optima")
            .slider__wrapper
                .slider-finishing
                    .slide
                        img(src="img/about/slider-finishing/optima/slide-1.png")
                    .slide
                        img(src="img/about/slider-finishing/optima/slide-2.png")
                    .slide
                        img(src="img/about/slider-finishing/optima/slide-3.png")
                    .slide
                        img(src="img/about/slider-finishing/optima/slide-4.png")
                    .slide
                        img(src="img/about/slider-finishing/optima/slide-5.png")
                    .slide
                        img(src="img/about/slider-finishing/optima/slide-6.png")
                    .slide
                        img(src="img/about/slider-finishing/optima/slide-7.png")
                    .slide
                        img(src="img/about/slider-finishing/optima/slide-8.png")
                    .slide
                        img(src="img/about/slider-finishing/optima/slide-9.png")
                    .slide
                        img(src="img/about/slider-finishing/optima/slide-10.png")
            .finishing__ul
                .finishing__ul__title В состав отделки входят:
                .finishing__li
                    .finishing__li__text Фактурные обои под покраску, текстура "метель"
                    .finishing__li__text Глухие или остекленные межкомнатные двери без фактуры, цвет - дуб Сенегал или дуб Сория серый
                    .finishing__li__text Керамическая плитка в санузлах, матовая, светлых тонов
                    .finishing__li__text Дверная фурнитура, цвет — матовый хром
                .finishing__li
                    .finishing__li__text Ламинат 32-го класса в светлых оттенках
                    .finishing__li__text Панельные спальные радиаторы со встроенными терморегуляторами, цвет — белый
                    .finishing__li__text Полный комплект сантехники в ванной
                    .finishing__li__text Входная металлическая дверь с толщиной листа 1,2 мм
    .finishing__content(data-anchor="without-finishing")
        .finishing__type__tabs
            .finishing__type__tab.finishing__type__tab-active(data-key="rough-finish") Черновая отделка
        .finishing__type__content.finishing__type__content-active(data-anchor="rough-finish")
            .slider__wrapper
                .slider-finishing
                    .slide
                        img(src="img/about/slider-finishing/without-finishing/slide-1.png")
                    .slide
                        img(src="img/about/slider-finishing/without-finishing/slide-2.png")
                    .slide
                        img(src="img/about/slider-finishing/without-finishing/slide-3.png")
                    .slide
                        img(src="img/about/slider-finishing/without-finishing/slide-4.png")
                    .slide
                        img(src="img/about/slider-finishing/without-finishing/slide-5.png")
                    .slide
                        img(src="img/about/slider-finishing/without-finishing/slide-6.png")
                    .slide
                        img(src="img/about/slider-finishing/without-finishing/slide-7.png")
                    .slide
                        img(src="img/about/slider-finishing/without-finishing/slide-8.png")
                    .slide
                        img(src="img/about/slider-finishing/without-finishing/slide-9.png")
            .layout__text Мы знаем насколько каждый из вас многогранен, и как важно обустроить вокруг себя тот "идеальный дизайн". Может это будет каменная кладка, продолжающая концепцию "Лофт" или обилие дерева в душевном интерьере "Кантри". Поэтому предусмотрели вариант квартир без отделки, которые послужат основой для воплощения ваших идей.

