.layout__wrapper.layout__wrapper-4
    .layout__title Безопасный район
    .safety__items
        .safety__item
            .safety__icon
                img(src="img/about/icons/section.svg")
            .safety__title Умный квартал
            .safety__text Управление домофоном со смартфона, доступ к парадной из любой точки мира, коммуникация с управляющей компанией и телеметрия.
        .safety__item
            .safety__icon
                img(src="img/about/icons/camera.svg")
            .safety__title Система видеонаблюдения
            .safety__text Круглосуточное видеонаблюдение за прилегающей территорией и паркингом
        .safety__item
            .safety__icon
                img(src="img/about/icons/control.svg")
            .safety__title Контроль доступа
            .safety__text Доступ к парадным по ключам
        .safety__item
            .safety__icon
                img(src="img/about/icons/private-territory.svg")
            .safety__title Приватная территория
            .safety__text Дворы спроектированы таким образом, чтобы жителям было комфортно и безопасно