.layout__wrapper-2
    .content__section
        .layout__title там, где уже кипит жизнь
        .layout__text__p «Северная долина» – крупнейший проект «Главстрой Санкт-Петербург». Проект предлагает жителям многообразие функций: современные общественные пространства, кафе и рестораны в шаговой доступности, социальную инфраструктуру, современные технологии безопасности и удобную систему управления коммуникациями.  Сегодня уже реализована большая часть проекта по застройке района, включающего 52 корпуса. На территории уже возведено 9 социальных объектов и 2 общественных пространства, функционирует весь спектр объектов инфраструктуры.
        .about__items
            .about__item
                .about__item__value 270
                .about__item__text
                    .about__item_p га
                    .about__item_p застройки
            .about__item
                .about__item__value 80
                .about__item__text
                    .about__item_p тысяч
                    .about__item_p жителей
            .about__item
                .about__item__value 12
                .about__item__text
                    .about__item_p  детских
                    .about__item_p  садов
            .about__item
                .about__item__value 9
                .about__item__text
                    .about__item_p
                    .about__item_p школ
            .about__item
                .about__item__value 8
                .about__item__text
                    .about__item_p многополосных
                    .about__item_p дорог
    .gallery__list
        .gallery__item
            img(src="img/about/gellary-1.png")
        .gallery__item
            img(src="img/about/gellary-2.png")

