.layout__wrapper.layout__wrapper-3
    .layout__title Жк северная долина
    .tabs__map__ul
        a(href="#").tab__li Все объекты
        a(href="#").tab__li Рестораны
        a(href="#").tab__li Парк
        a(href="#").tab__li Магазины
        a(href="#").tab__li Школы и сады
        a(href="#").tab__li.tab__li-active Спорт
        a(href="#").tab__li Метро
        a(href="#").tab__li Вокзалы
        a(href="#").tab__li Аэропорт
    .tabs__map__content
        .tab__content(data-theme="all")
            img(src="img/about/map/sport.png")
    .layout__text__wrapper
        .layout__text_p «Северная долина» расположена в Выборгском районе, одном из крупнейших в Петербурге. Комплекс имеет хорошую транспортную доступность: рядом станция метро «Парнас», 8 участков многополосных дорог, линия городского транспорта. А выезды на КАД и проспект Энгельса помогают быстро добраться до любой точки города.
        .metro__wrapper
            .metro__img__wrapper
                .metro__img
                    img(src="img/about/icons/metro.svg")
                .metro__text Парнас
            .metro__text_p Офис продаж: ул. Федора Абрамова, 4В


