.layout__wrapper.layout__wrapper-1
    .layout__title Комплексный подход к строительству
    .layout__subtitle Главстрой Санкт-Петербург
    .layout__main__img
        img(src="img/about/about-main.png")
    .about__list__wrapper
        .layout__text__wrapper
            .layout__text Главстрой Санкт-Петербург» первым в городе предложил концепцию комплексного освоения больших территорий, которая включает и строительство жилья, и развитие современной городской инфраструктуры. Вместе с жилыми кварталами активно развиваются социальные объекты, транспортные развязки и рекреационные зоны.
            .items__wrapper
                .item__wrapper
                    .item__title
                        .item__icon
                            img(src="img/about/icons/star.svg")
                        .item__text_t Качество
                    .item__text_p Выбирая материалы для строительства, мы опираемся на эстетичность, практичность и долговечность конечного результата
                .item__wrapper
                    .item__title
                        .item__icon
                            img(src="img/about/icons/technologies.svg")
                        .item__text_t Технологии
                    .item__text_p В основе наших проектных решений лежат  современные технологии архитектурного проектирования и социальной инженерии пространства.
                .item__wrapper
                    .item__title
                        .item__icon
                            img(src="img/about/icons/reliability.svg")
                        .item__text_t Надежный девелопер
                    .item__text_p С 2006 года компания реализует комплексную застройку, ежегодно расширяя земельный фонд под будущие проекты
                .item__wrapper
                    .item__title
                        .item__icon
                            img(src="img/about/icons/calendar.svg")
                        .item__text_t Ответственность
                    .item__text_p Мы строго придерживаемся заявленных сроков сдачи проектов. Для вашего удобства, каждый месяц выкладываем фотоотчет с ходом строительства новых корпусов.
        .awards__wrapper
            .awards__img
                img(src="img/about/awards.png")
            .awards__list__ul
                .awards__list__li Входит в перечень системообразующих организаций российской экономики
                .awards__list__li Заключил крупнейший договор о банковском проектном финансировании
                .awards__list__li Первым в Петербурге начал работу с применением эскроу-счетов



