.layout__wrapper-5
    .content__section
        .layout__title ЗА ПРЕДЕЛАМИ КВАРТИРЫ
        .slider__wrapper
            .slider
                .slide__item
                    img(src="img/about/slider-1/slide-1.png")
                .slide__item
                    img(src="img/about/slider-1/slide-2.png")
                .slide__item
                    img(src="img/about/slider-1/slide-3.png")
                .slide__item
                    img(src="img/about/slider-1/slide-4.png")
                .slide__item
                    img(src="img/about/slider-1/slide-5.png")
                .slide__item
                    img(src="img/about/slider-1/slide-6.png")
                .slide__item
                    img(src="img/about/slider-1/slide-7.png")
                .slide__item
                    img(src="img/about/slider-1/slide-8.png")
            .buttons__slider
        .layout__text К разработке общественных пространств мы подошли с особым вниманием. Места общего пользования правильной геометрической формы, выполнены в сдержанных тонах. Использование элементов кирпичной кладки отсылает к концепции «Лофт». В распоряжении жильцов два прогулочных пространства, предназначенных для отдыха и общения на свежем воздухе – «Тайм-сквер» и «Греческий дворик». Во дворах функциональные детские площадки, зоны активного отдыха, продуманная концепция озеленения территории и геопластика.


