.layout__wrapper.layout__wrapper-6
    .layout__title Разнообразие функций в каждой квартире
    .layout__text От уютных студий до просторных трехкомнатных квартир, стандартный набор опций и отдельные специалитеты. Каждая планировка функциональна и спроектирована для комфортного проживания вас и вашей семьи.
    .apartment__tabs__section
        .apartment__layout__tabs
            .apartment__layout__tab(data-key="studios") Студии
            .apartment__layout__tab(data-key="1-room") 1к-квартиры
            .apartment__layout__tab.apartment__layout__tab-active(data-key="2-room") 2к-квартиры
            .apartment__layout__tab(data-key="3-room") 3к-квартиры
        .apartment__layout__contents
            .apartment__layout__content(data-anchor="studios")
                .apartment__title Студия, 24 м
                a(href="#").apartment__link Смотреть все
                .slider-2
                    .slide__item
                        img(src="img/about/slider-2/studios/1.png")
                    .slide__item
                        img(src="img/about/slider-2/studios/2.png")
            .apartment__layout__content(data-anchor="1-room")
                .apartment__title 1-комнатная, 31.15 м
                a(href="#").apartment__link Смотреть все
                .slider-2
                    .slide__item
                        img(src="img/about/slider-2/1-room/1.png")
                    .slide__item
                        img(src="img/about/slider-2/1-room/2.png")
                    .slide__item
                        img(src="img/about/slider-2/1-room/3.png")
                    .slide__item
                        img(src="img/about/slider-2/1-room/4.png")
                    .slide__item
                        img(src="img/about/slider-2/1-room/5.png")
            .apartment__layout__content.apartment__layout__content-active(data-anchor="2-room")
                .apartment__title 2-комнатная, 54.15 м
                a(href="#").apartment__link Смотреть все
                .slider-2
                    .slide__item
                        img(src="img/about/slider-2/2-room/1.png")
                    .slide__item
                        img(src="img/about/slider-2/2-room/2.png")
                    .slide__item
                        img(src="img/about/slider-2/2-room/3.png")
                    .slide__item
                        img(src="img/about/slider-2/2-room/4.png")
                    .slide__item
                        img(src="img/about/slider-2/2-room/5.png")
                    .slide__item
                        img(src="img/about/slider-2/2-room/6.png")
            .apartment__layout__content(data-anchor="3-room")
                .apartment__title 2-комнатная, 104.15 м
                a(href="#").apartment__link Смотреть все
                .slider-2
                    .slide__item
                        img(src="img/about/slider-2/3-room/1.png")
                    .slide__item
                        img(src="img/about/slider-2/3-room/2.png")
                    .slide__item
                        img(src="img/about/slider-2/3-room/3.png")
                    .slide__item
                        img(src="img/about/slider-2/3-room/4.png")
    .apartment__table__wrapper
        .apartment__table__row
            .apartment__table__cell(data-numb="1")
                .apartment__table__title Эркеры
                .apartment__table__text Дополнительная площадь дает простор для фантазии. Здесь можно оформить уютный уголок для отдыха или организовать рабочую зону. Грамотный подход превращает эркер в еще одну маленькую комнату, где всегда много света.
                .apartment__table__img
                    img(src="img/about/bay-windows.png")
            .apartment__table__cell(data-numb="2")
                .apartment__table__title Окно в ванной
                .apartment__table__text Окно в ванной комнате служит как источник естественного света, так и неординарное решение помещения. Ванную без проблем можно проветрить, а в дневное время суток экономить электроэнергию. И, конечно, релакс во время приема ванной, наблюдая красивый закат.
                .apartment__table__img
                    img(src="img/about/bathroom-window.png")
            .apartment__table__cell(data-numb="3")
                .apartment__table__title Просторные кухни-гостиные
                .apartment__table__text Популярное решение в интерьере. Совмещая несколько функциональных участков в виде зоны для готовки, уютной столовой и места встречи гостей, правильная организация пространства позволяет сохранить его функциональность и практичность
                .apartment__table__img
                    img(src="img/about/kitchen-living-rooms.png")
        .apartment__table__row
            .apartment__table__cell(data-numb="1")
                .apartment__table__title Мастер-спальни
                .apartment__table__text Объединение нескольких зон обосновано тем, что взрослым членам семьи нужно своё индивидуальное пространство. Родители могут спокойно, принять душ, посмотреть кино и собираться на работу, не тревожа при этом родных.
                .apartment__table__img
                    img(src="img/about/master-bedrooms.png")
            .apartment__table__cell(data-numb="2")
                .apartment__table__title Квартиры с кабинетом
                .apartment__table__text Для человека, который работает из дома , необходимо место, где он может выполнять свои задачи, не отвлекаясь на родных и посторонние шумы. Мини-кабинет занимает минимум площади, а правильная организация рабочего пространства позволяет сделать его максимально эргономичным.
                .apartment__table__img
                    img(src="img/about/apartments-with-office.png")
            .apartment__table__cell(data-numb="3")
                .apartment__table__title Гардеробные
                .apartment__table__text Вопрос организации хранения вещей имеет большое значение при обустройстве жилого помещения. Использование шкафов - не всегда рациональное решение. С этим вопросом справляются гардеробные. Удобное наполнение в виде функциональных ящиков, штанги и полочек поможет разместить в гардеробной достаточно большое количество вещей и создать функциональную систему хранения.
                .apartment__table__img
                    img(src="img/about/wardrobes.png")

