.layout__wrapper-8
    .content__section
        .video__wrapper
            video(src="img/about/phone.mp4" autoplay="true" preload="true" muted="true" loop="loop")
        .layout__title Здесь действительно особая атмосфера
        .layout__text «Северная долина» - это самодостаточная среда для комфортной жизни и отдыха. Прогулки по удобным улочкам, шопинг, обеды и ужины с друзьями или в семейном кругу, рассветы и закаты – это особая атмосфера, новая городская ткань, предлагающая жителям свободный образ жизни и новые традиции.
        .links__wrapper
            a(href="").social__link
                img(src="img/about/icons/vk-white.svg")
            a(href="").social__link
                img(src="img/about/icons/inst-white.svg")