body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
a {
  color: #000;
  text-transform: none;
  text-decoration: none;
}
a:hover {
  color: #000;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
h1,
h2 {
  margin: 0;
  padding: 0;
}
div {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
img {
  width: 100%;
  height: auto;
}
form {
  margin: 0;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Regular.ttf") format("ttf"), url("../fonts/Gilroy-Regular.eot") format("eot"), url("../fonts/Gilroy-Regular.woff") format("woff");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy-Medium";
  src: url("../fonts/Gilroy-Medium.ttf") format("ttf"), url("../fonts/Gilroy-Medium.eot") format("eot"), url("../fonts/Gilroy-Medium.woff") format("woff");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy-ExtraBold";
  src: url("../fonts/Gilroy-ExtraBold.ttf") format("ttf"), url("../fonts/Gilroy-ExtraBold.eot") format("eot"), url("../fonts/Gilroy-ExtraBold.woff") format("woff");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy-SemiBold";
  src: url("../fonts/Gilroy-SemiBold.ttf") format("ttf"), url("../fonts/Gilroy-SemiBold.eot") format("eot"), url("../fonts/Gilroy-SemiBold.woff") format("woff");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy-Bold";
  src: url("../fonts/Gilroy-Bold.ttf") format("ttf"), url("../fonts/Gilroy-Bold.eot") format("eot"), url("../fonts/Gilroy-Bold.woff") format("woff");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Geometria";
  src: url("../fonts/Geometria.ttf") format("ttf"), url("../fonts/Geometria.eot") format("eot"), url("../fonts/Geometria.woff") format("woff");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Geometria-Bold";
  src: url("../fonts/Geometria-Bold.ttf") format("ttf"), url("../fonts/Geometria-Bold.eot") format("eot"), url("../fonts/Geometria-Bold.woff") format("woff");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf") format("ttf");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto-Bold";
  src: url("../fonts/Roboto-Bold.ttf") format("ttf");
  font-style: normal;
  font-display: swap;
}
.button {
  display: inline-block;
  padding: 16px 30px;
  font-size: 13px;
  line-height: 16px;
  font-family: 'Gilroy', Arial, sans-serif;
  color: #fff;
  background-color: #0072c7;
  border: 1px solid #0072c7;
  border-radius: 2px;
  white-space: nowrap;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.button:hover {
  color: #fff;
}
.button:focus {
  outline: none;
  background-color: #0072c7;
}
.menu__wrapper {
  width: 100%;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 13px;
  line-height: 15px;
  color: #3a393c;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: fixed;
  left: 0;
  z-index: 99;
  background-color: #fff;
  -webkit-transition: top, 1s;
  -o-transition: top, 1s;
  transition: top, 1s;
}
.menu__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  max-width: 1570px;
  width: 100%;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-right: 35px;
  padding: 10px 0;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}
.menu__item.active .sub-menu__items {
  display: block;
}
.menu__item__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 100%;
  height: 100%;
}
.menu__item .sub-menu__items {
  position: absolute;
  top: 80%;
  left: 10px;
  border: 1px solid #f0f0f0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 2px;
  -webkit-box-shadow: 3px 3px 4px rgba(215,215,215,0.2);
  box-shadow: 3px 3px 4px rgba(215,215,215,0.2);
  background-color: #fff;
  display: none;
  z-index: 200;
}
.menu__item .sub-menu__items:hover {
  display: block;
}
.menu__item .sub-menu__items a {
  display: block;
}
.menu__item .sub-menu__item {
  display: block;
  padding: 10px 36px 10px 20px;
  font-size: 13px;
  line-height: 15px;
  color: #3a393c;
  font-family: 'Roboto', Arial, sans-serif;
  cursor: pointer;
  white-space: nowrap;
}
.menu__item .sub-menu__item:hover {
  background-color: #f7f7f7;
}
@media (max-width: 450px) {
  .menu__item {
    margin-right: 0;
  }
}
@media (max-width: 1279px) {
  .menu__item .sub-menu__items {
    left: auto;
    right: 0;
  }
}
.menu__item:last-child {
  margin-right: 0;
}
.menu__item:hover {
  color: #3a393c;
}
.menu__item__icon {
  margin-right: 8px;
}
.menu__item__icon img {
  width: 100%;
  height: auto;
}
.menu__item__text {
  color: #3a393c;
}
.menu__item__text + .menu__item__icon {
  margin-left: 12px;
  margin-right: 0;
}
.menu__item__logo {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.menu__item.menu__item-vr .menu__item__text {
  color: #0072c7;
}
.menu__item.btn-menu {
  padding: 26px 15px;
  background-color: #f8f8f8;
}
.menu__item.btn-menu .menu__item__icon {
  width: 20px;
  min-width: 20px;
  margin-left: 0;
}
.menu__item.btn-menu .menu__item__icon img {
  width: 100%;
  height: auto;
}
.menu__item.btn-menu .menu__item__text {
  font-size: 14px;
  line-height: 17px;
  margin-right: 10px;
}
.menu__header-top {
  border-bottom: 1px solid rgba(169,169,169,0.21);
  top: 0;
  left: 0;
}
.menu__header-top .menu__items {
  padding: 10px 0;
}
@media (max-width: 1024px) {
  .menu__header-top .menu__items {
    padding: 10px;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}
.menu__header-top .menu__item__logo {
  cursor: auto;
}
.menu__header-top .menu__item.apartment-search {
  display: none;
}
.menu__header-top .menu__item.login,
.menu__header-top .menu__item.logout {
  margin-right: 134px;
}
@media (max-width: 1024px) {
  .menu__header-top .menu__item {
    display: none;
    padding: 0;
  }
  .menu__header-top .menu__item.apartment-search,
  .menu__header-top .menu__item.location,
  .menu__header-top .menu__item.metro-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .menu__header-top .menu__item.apartment-search .menu__item__text,
  .menu__header-top .menu__item.location .menu__item__text,
  .menu__header-top .menu__item.metro-logo .menu__item__text {
    font-size: 10px;
    line-height: 12px;
  }
  .menu__header-top .menu__item.apartment-search .menu__item__icon,
  .menu__header-top .menu__item.location .menu__item__icon,
  .menu__header-top .menu__item.metro-logo .menu__item__icon {
    min-width: 15px;
    width: 15px;
    height: 15px;
    margin-right: 6px;
  }
  .menu__header-top .menu__item.metro-logo {
    position: absolute;
    bottom: 10px;
    left: 12px;
  }
  .menu__header-top .menu__item .button {
    font-size: 10px;
    line-height: 12px;
    padding: 15px 0 13px 0;
    width: 150px;
    min-width: 150px;
    text-align: center;
  }
}
.menu__header-bottom {
  top: 70px;
}
.menu__header-bottom.hide-menu {
  top: 0;
  z-index: 200;
}
@media (max-width: 1024px) {
  .menu__header-bottom {
    padding: 0 0 0 10px;
    top: 63px;
  }
  .menu__header-bottom .menu__items {
    padding: 14px 0;
  }
}
.menu__header-bottom .menu__item.call,
.menu__header-bottom .menu__item.logout,
.menu__header-bottom .menu__item.login {
  display: none;
}
.menu__header-bottom .menu__item__logo {
  cursor: auto;
}
@media (max-width: 1024px) {
  .menu__header-bottom .menu__item {
    display: none;
  }
  .menu__header-bottom .menu__item.call,
  .menu__header-bottom .menu__item.logout,
  .menu__header-bottom .menu__item.login,
  .menu__header-bottom .menu__item__logo,
  .menu__header-bottom .menu__item.btn-menu {
    display: block;
  }
  .menu__header-bottom .menu__item.menu__item__logo {
    padding: 0;
  }
  .menu__header-bottom .menu__item.menu__item__logo .menu__item__icon {
    width: 114px;
    display: block;
  }
  .menu__header-bottom .menu__item.login,
  .menu__header-bottom .menu__item.call {
    margin-right: 20px;
  }
  .menu__header-bottom .menu__item.login .menu__item__icon,
  .menu__header-bottom .menu__item.call .menu__item__icon {
    margin: 0;
  }
  .menu__header-bottom .menu__item.login .menu__item__text,
  .menu__header-bottom .menu__item.call .menu__item__text {
    display: none;
  }
  .menu__header-bottom .menu__item.btn-menu {
    padding: 15px 17px;
  }
  .menu__header-bottom .menu__item.btn-menu .menu__item__icon {
    width: 20px;
    min-width: 20px;
  }
  .menu__header-bottom .menu__item.btn-menu .menu__item__text {
    display: none;
  }
}
.menu__wrapper .menu__item__icon {
  width: 24px;
}
.menu__wrapper.menu__header-top .menu__item.menu__item__logo .menu__item__icon {
  width: 153px;
}
.menu__wrapper.menu__header-bottom .menu__item.menu__item__logo .menu__item__icon {
  width: 190px;
}
.layout__title {
  font-size: 51px;
  line-height: 45.9px;
  font-family: "Gilroy-Bold", Arial, sans-serif;
  color: #003349;
  text-transform: uppercase;
}
@media (max-width: 450px) {
  .layout__title {
    font-size: 28px;
    line-height: 90%;
  }
}
.layout__text {
  color: #3a393c;
  font-size: 18px;
  line-height: 150%;
  font-family: 'Roboto', Arial, sans-serif;
  max-width: 1020px;
}
@media (max-width: 450px) {
  .layout__text {
    font-size: 14px;
    line-height: 150%;
    max-width: 100%;
  }
}
.layout__wrapper {
  margin: 0 auto 100px auto;
  max-width: 1365px;
}
.layout__wrapper .items__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
.layout__wrapper .items__wrapper .item__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
.layout__wrapper .items__wrapper .item__wrapper:last-child {
  margin-right: 0;
}
.layout__wrapper .items__wrapper .item__icon {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.layout__wrapper .items__wrapper .item__icon img {
  width: 100%;
  height: auto;
}
.layout__wrapper .items__wrapper .item__text {
  font-size: 17px;
  line-height: 130%;
  color: #3a393c;
  font-family: 'Roboto', Arial, sans-serif;
}
@media (max-width: 450px) {
  .layout__wrapper {
    padding: 0 10px;
  }
}
.layout-1 {
  width: 100%;
  max-width: 1920px;
  position: relative;
  padding-top: 140px;
}
.layout-1 h1 {
  color: #f00;
}
.layout-1 .b-slider {
  width: 100%;
  height: calc(100vh - 140px);
}
.layout-1 .b-slider .b-sliders_wrapper {
  height: 100%;
}
.layout-1 .b-slider .b-slide_content {
  height: 100%;
}
.layout-1 .b-slider .b-slide {
  height: 100%;
}
.layout-1 .b-slider .b-image_set {
  height: 100%;
  position: relative;
}
.layout-1 .b-slider .b-image_set img {
  position: absolute;
  left: 0;
  bottom: 0;
}
.layout-1 .b-slider .b-arrow_left,
.layout-1 .b-slider .b-arrow_right {
  width: 80px;
  height: 80px;
  position: absolute;
  top: calc(100% - 40px);
  cursor: pointer;
  z-index: 200;
}
.layout-1 .b-slider .b-arrow_left svg,
.layout-1 .b-slider .b-arrow_right svg {
  width: 100%;
  height: auto;
}
.layout-1 .b-slider .b-arrow_left svg:hover path,
.layout-1 .b-slider .b-arrow_right svg:hover path {
  opacity: 1;
}
.layout-1 .b-slider .b-arrow_left {
  left: 0;
}
.layout-1 .b-slider .b-arrow_right {
  right: 0;
}
@media (max-width: 1280px) {
  .layout-1 .b-slider {
    height: auto;
  }
  .layout-1 .b-slider .b-image_set img {
    position: relative;
    width: 100%;
    height: auto;
  }
}
@media (max-width: 1024px) {
  .layout-1 {
    padding: 132px 0 0 0;
    margin-bottom: 60px;
  }
}
@media (max-width: 450px) {
  .layout-2 {
    margin-bottom: 60px;
  }
}
.layout-2 .layout__title {
  margin-bottom: 54px;
}
.layout-2 .layout__text {
  margin-bottom: 100px;
}
@media (max-width: 450px) {
  .layout-2 .layout__title {
    margin-bottom: 30px;
  }
  .layout-2 .layout__text {
    margin-bottom: 40px;
  }
}
.layout-2 .items__wrapper .item__wrapper {
  margin-right: 94px;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}
.layout-2 .items__wrapper .item__icon {
  margin-right: 30px;
  width: 70px;
  min-width: 70px;
  height: 70px;
}
.layout-2 .items__wrapper .item__text {
  max-width: 210px;
  font-size: 17px;
}
.layout-2 .items__wrapper-infrastructure {
  margin-bottom: 74px;
}
@media (max-width: 1250px) {
  .layout-2 .items__wrapper-infrastructure {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .layout-2 .items__wrapper-infrastructure .item__wrapper {
    margin-right: 0;
    width: 50%;
  }
}
@media (max-width: 450px) {
  .layout-2 .items__wrapper-infrastructure .item__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .layout-2 .items__wrapper-infrastructure .item__wrapper:nth-child(1),
  .layout-2 .items__wrapper-infrastructure .item__wrapper:nth-child(2) {
    margin-bottom: 40px;
  }
  .layout-2 .items__wrapper-infrastructure .item__icon {
    margin-right: 0;
    margin-bottom: 25px;
  }
  .layout-2 .items__wrapper-infrastructure .item__text {
    max-width: 140px;
    text-align: center;
    font-size: 14px;
    line-height: 130%;
  }
}
.layout-2 .items__wrapper-list .item__wrapper {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 49px;
}
.layout-2 .items__wrapper-list .item__wrapper:before {
  content: '';
  display: block;
  height: 10px;
  width: 10px;
  min-width: 10px;
  border-radius: 1px;
  background-color: #0072ce;
  margin-right: 10px;
}
.layout-2 .items__wrapper-list .item__wrapper .item__text {
  max-width: 100%;
}
@media (max-width: 450px) {
  .layout-2 .items__wrapper-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-left: 50px;
  }
  .layout-2 .items__wrapper-list .item__wrapper {
    margin-bottom: 15px;
    margin-right: 0;
  }
  .layout-2 .items__wrapper-list .item__wrapper:last-child {
    margin-bottom: 0;
  }
  .layout-2 .items__wrapper-list .item__text {
    font-size: 14px;
    line-height: 130%;
  }
}
.layout-3 {
  max-width: 1920px;
  width: 100%;
  position: relative;
}
@media (max-width: 450px) {
  .layout-3 {
    padding: 0;
    margin-bottom: 74px;
  }
}
.layout-3 .main__img {
  width: 100%;
}
.layout-3 .main__img img {
  width: 100%;
  height: auto;
}
.layout-3 .main__img-mob {
  display: none;
}
@media (max-width: 767px) {
  .layout-3 .main__img-mob {
    display: block;
  }
  .layout-3 .main__img-desk {
    display: none;
  }
}
.layout-3 .infographics__section {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}
.layout-3 .infographics__section .item {
  position: absolute;
  max-width: 181px;
}
.layout-3 .infographics__section .item__text {
  color: #fff;
}
.layout-3 .infographics__section .item .number {
  font-family: 'Gilroy-Bold', Arial, sans-serif;
  font-size: 48px;
  line-height: 90%;
  margin-bottom: 3px;
}
.layout-3 .infographics__section .item .text {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 24px;
  line-height: 90%;
  text-transform: uppercase;
  margin-bottom: 14px;
}
.layout-3 .infographics__section .item__icon {
  border: 3px solid #fff;
  border-radius: 2px;
  background-color: rgba(0,51,73,0.5);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 23px;
  width: 100px;
  height: 100px;
}
.layout-3 .infographics__section .item__icon img {
  width: 100%;
  height: auto;
}
.layout-3 .infographics__section .item__line {
  width: 2px;
  height: 153px;
  margin-left: 49px;
  position: relative;
  background-color: #fff;
}
.layout-3 .infographics__section .item__line:after {
  content: '';
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 5px;
  position: absolute;
  left: -4px;
  bottom: -10px;
}
.layout-3 .infographics__section .item.parking {
  top: 32%;
  left: 19%;
}
.layout-3 .infographics__section .item.house {
  top: 15%;
  left: 41%;
}
.layout-3 .infographics__section .item.bell {
  top: 10%;
  left: 58%;
}
.layout-3 .infographics__section .item.cart {
  top: 35%;
  left: 71%;
}
.layout-3 .infographics__section .logo__wrapper {
  width: 225px;
  position: absolute;
  left: 75%;
  top: 86%;
}
.layout-3 .infographics__section .logo__wrapper img {
  width: 100%;
  height: auto;
}
@media (max-width: 1250px) and (min-width: 768px) {
  .layout-3 .infographics__section .logo__wrapper {
    left: 36%;
    top: 76%;
  }
}
@media (max-width: 450px) {
  .layout-3 .infographics__section .logo__wrapper {
    left: auto;
    right: 10px;
    top: 54px;
  }
}
@media (max-width: 1440px) and (min-width: 1250px) {
  .layout-3 .infographics__section .item.parking {
    top: 15%;
  }
  .layout-3 .infographics__section .item.house {
    top: 4%;
  }
  .layout-3 .infographics__section .item.bell {
    top: 1%;
  }
  .layout-3 .infographics__section .item.cart {
    top: 24%;
  }
}
@media (max-width: 1249px) and (min-width: 768px) {
  .layout-3 .infographics__section .item {
    max-width: 140px;
  }
  .layout-3 .infographics__section .item__icon {
    padding: 5px;
    width: 75px;
    height: 75px;
  }
  .layout-3 .infographics__section .item__text .number {
    font-size: 38px;
  }
  .layout-3 .infographics__section .item__text .text {
    font-size: 18px;
  }
  .layout-3 .infographics__section .item__line {
    margin-left: 37.5px;
  }
  .layout-3 .infographics__section .item.parking {
    top: 20%;
  }
  .layout-3 .infographics__section .item.parking .item__line {
    height: 80px;
  }
  .layout-3 .infographics__section .item.house {
    top: 3%;
  }
  .layout-3 .infographics__section .item.house .item__line {
    height: 40px;
  }
  .layout-3 .infographics__section .item.bell {
    top: 4%;
    left: 55%;
  }
  .layout-3 .infographics__section .item.bell .item__line {
    height: 20px;
  }
  .layout-3 .infographics__section .item.cart {
    top: 5%;
    left: 71%;
  }
  .layout-3 .infographics__section .item.cart .item__line {
    height: 120px;
  }
}
@media (max-width: 450px) {
  .layout-3 .infographics__section .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    max-width: 100%;
  }
  .layout-3 .infographics__section .item__icon {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    width: 58px;
    min-width: 58px;
    height: 58px;
    padding: 13px;
    border-width: 1.7px;
    border-radius: 1.16px;
  }
  .layout-3 .infographics__section .item__text {
    position: absolute;
    left: 70px;
    top: 0;
    min-width: 207px;
  }
  .layout-3 .infographics__section .item__text .number {
    font-size: 20px;
    line-height: 90%;
    margin-bottom: 21px;
  }
  .layout-3 .infographics__section .item__text .text {
    font-size: 14px;
    line-height: 90%;
    margin-bottom: 0;
    font-family: 'Gilroy-Bold', Arial, sans-serif;
  }
  .layout-3 .infographics__section .item__line {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    margin-left: 0;
    height: 1px;
    width: 89px;
  }
  .layout-3 .infographics__section .item__line:after {
    left: 100%;
    bottom: -2.5px;
    min-width: 6px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
  }
  .layout-3 .infographics__section .item.parking {
    left: 10px;
    top: 174px;
  }
  .layout-3 .infographics__section .item.house {
    left: 10px;
    top: 244px;
  }
  .layout-3 .infographics__section .item.bell {
    left: 10px;
    top: 314px;
  }
  .layout-3 .infographics__section .item.cart {
    left: 10px;
    top: 384px;
  }
  .layout-3 .infographics__section .item.cart .item__text {
    top: 39px;
  }
}
.layout-4 {
  max-width: 1440px;
}
@media (max-width: 450px) {
  .layout-4 {
    margin-bottom: 69px;
  }
}
.layout-4 .layout__title {
  margin-bottom: 60px;
  margin-left: 40px;
}
.layout-4 .items__wrapper {
  margin-bottom: 58px;
  margin-left: 40px;
}
.layout-4 .items__wrapper .item__wrapper {
  margin-right: 97px;
}
.layout-4 .items__wrapper .item__icon {
  width: 28px;
  min-width: 28px;
  margin-right: 20px;
}
.layout-4 .map__section {
  width: 100%;
  height: 640px;
}
@media (max-width: 450px) {
  .layout-4 {
    padding: 0;
  }
  .layout-4 .layout__title {
    margin-bottom: 35px;
    margin-left: 10px;
  }
  .layout-4 .items__wrapper {
    margin-bottom: 33px;
    margin-left: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .layout-4 .items__wrapper .item__wrapper {
    margin-bottom: 24px;
    margin-right: 0;
  }
  .layout-4 .items__wrapper .item__wrapper:last-child {
    margin-bottom: 0;
  }
  .layout-4 .items__wrapper .item__icon {
    width: 20px;
    min-width: 20px;
    margin-right: 13px;
  }
  .layout-4 .items__wrapper .item__text {
    font-size: 14px;
    line-height: 130%;
  }
  .layout-4 .map__section {
    width: 100%;
    height: 320px;
  }
}
@media (max-width: 450px) {
  .layout-5 {
    display: none;
  }
}
.layout-5 .layout__title {
  margin-bottom: 40px;
}
.layout-5 .map__section img {
  width: 100%;
  height: auto;
}
.layout-5 .button__section {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
.layout-5 .button__section .button {
  margin-right: 18px;
  padding: 10px 30px;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
  font-family: 'Roboto', Arial, sans-serif;
  background-color: #4a8197;
  border-radius: 2px;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #4a8197;
}
.layout-5 .button__section .button:hover {
  background-color: #558fa7;
}
.layout-5 .button__section .button:last-child {
  margin-right: 0;
}
@media (max-width: 450px) {
  .layout-6 {
    padding: 0;
    margin-bottom: 60px;
  }
}
.layout-6 .layout__title {
  margin-bottom: 60px;
}
@media (max-width: 1360px) {
  .layout-6 .layout__title {
    margin-left: 20px;
  }
}
@media (max-width: 450px) {
  .layout-6 .layout__title {
    margin-left: 10px;
  }
}
.layout-6 .items__wrapper {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 50px;
}
.layout-6 .items__wrapper .item__wrapper {
  margin-right: 50px;
  margin-bottom: 50px;
}
.layout-6 .items__wrapper .item__wrapper:nth-child(4) {
  margin-bottom: 0;
}
.layout-6 .items__wrapper .item__wrapper:last-child {
  margin-bottom: 0;
}
.layout-6 .items__wrapper .item__wrapper:last-child .item__text {
  max-width: 810px;
}
.layout-6 .items__wrapper .item__icon {
  width: 60px;
  min-width: 60px;
  height: 60px;
  margin-right: 20px;
}
.layout-6 .items__wrapper .item__text {
  max-width: 280px;
  font-size: 16px;
  line-height: 120%;
}
@media (max-width: 450px) {
  .layout-6 .items__wrapper {
    padding: 0 10px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .layout-6 .items__wrapper .item__wrapper {
    max-width: 44%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 0;
  }
  .layout-6 .items__wrapper .item__wrapper:last-child {
    max-width: 100%;
  }
  .layout-6 .items__wrapper .item__wrapper:last-child .item__icon {
    margin-right: 0;
  }
  .layout-6 .items__wrapper .item__icon {
    margin-bottom: 25px;
  }
  .layout-6 .items__wrapper .item__text {
    font-size: 14px;
    line-height: 130%;
    text-align: center;
  }
}
.layout-6 .slider__wrapper {
  margin-bottom: 80px;
  width: 100%;
}
@media (max-width: 450px) {
  .layout-6 .slider__wrapper {
    width: 100%;
    margin-bottom: 40px;
  }
  .layout-6 .slider__wrapper img {
    width: 100%;
  }
}
.layout-6 .apartament-search__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  background-color: #e6e5e6;
  padding: 26px 0;
}
.layout-6 .apartament-search__section .text {
  margin-right: 80px;
  font-size: 18px;
  line-height: 110%;
  font-family: 'Gilroy', Arial, sans-serif;
  color: #000;
}
@media (max-width: 450px) {
  .layout-6 .apartament-search__section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 13px 0 20px 0;
  }
  .layout-6 .apartament-search__section .text {
    margin-right: 0;
    margin-bottom: 10px;
    text-align: center;
    font-size: 16px;
    max-width: 200px;
  }
  .layout-6 .apartament-search__section .button {
    width: 240px;
    min-width: 240px;
  }
}
.layout-about {
  background: #f7f5f3;
  padding: 56px 80px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
@media (max-width: 767px) {
  .layout-about {
    padding: 20px 10px;
  }
}
.layout-about .layout__text {
  max-width: 484px;
  margin-right: 60px;
  font-size: 24px;
  line-height: 29px;
  color: #b19a7c;
  font-family: "Gilroy-Bold", Arial, sans-serif;
}
@media (max-width: 767px) {
  .layout-about .layout__text {
    margin-right: 40px;
    max-width: auto;
    font-size: 22px;
    line-height: 26px;
  }
}
.layout-about .link__wrapper {
  width: 50px;
  min-width: 50px;
  height: 50px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid #005bb9;
}
.layout-about .link__wrapper svg {
  width: 19px;
  height: auto;
}
.layout-about .link__wrapper:hover {
  background-color: #005bb9;
}
.layout-about .link__wrapper:hover svg path {
  fill: #fff;
}
.layout-about .bg__about {
  width: 189px;
  height: 186px;
  position: absolute;
  top: 0;
  right: 56px;
}
.layout-about .bg__about img {
  width: 100%;
  height: auto;
}
@media (max-width: 1023px) {
  .layout-about .bg__about {
    display: none;
  }
}
@media (max-width: 450px) {
  .layout-7 {
    padding: 0;
    margin-bottom: 60px;
  }
}
.layout-7 .layout__title {
  margin-bottom: 50px;
}
.layout-7 .layout__text {
  margin-bottom: 47px;
}
.layout-7 .layout__text__p {
  margin-bottom: 27px;
}
.layout-7 .layout__text__p:last-child {
  margin-bottom: 0;
}
@media (max-width: 450px) {
  .layout-7 .layout__title {
    margin-bottom: 30px;
    margin-left: 10px;
  }
  .layout-7 .layout__text {
    margin-bottom: 39px;
    margin-left: 10px;
  }
  .layout-7 .layout__text__p {
    margin-bottom: 21px;
  }
  .layout-7 .layout__text__p:last-child {
    margin-bottom: 0;
  }
}
.layout-7 .main__img {
  max-width: 1000px;
  width: 100%;
  margin-right: 40px;
}
.layout-7 .main__img img {
  width: 100%;
  height: auto;
}
.layout-7 .main__img-mob {
  display: none;
}
.layout-7 .main__img__wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
.layout-7 .main__img__wrapper .items__wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.layout-7 .main__img__wrapper .items__wrapper__title {
  min-width: 132px;
  width: 132px;
  font-size: 24px;
  line-height: 110%;
  color: #003349;
  text-transform: uppercase;
  margin-bottom: 32px;
  font-family: 'Gilroy-Bold', Arial, sans-serif;
}
.layout-7 .main__img__wrapper .items__wrapper .item__wrapper {
  min-width: 100px;
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
  border: 3px solid #9c9c9c;
  border-radius: 2px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  padding: 10px 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.layout-7 .main__img__wrapper .items__wrapper .item__wrapper:last-child {
  margin-bottom: 0;
}
.layout-7 .main__img__wrapper .items__wrapper .item__icon {
  width: 20px;
  min-width: 20px;
  height: 20px;
  position: absolute;
  top: 10px;
  right: 10px;
}
.layout-7 .main__img__wrapper .items__wrapper .item__icon svg {
  width: 100%;
  height: auto;
}
.layout-7 .main__img__wrapper .items__wrapper .item__text {
  font-size: 12px;
  line-height: 120%;
  font-family: 'Gilroy-Bold', Arial, sans-serif;
  text-transform: uppercase;
  width: 75px;
  color: #003349;
  font-weight: 900;
}
@media (max-width: 450px) {
  .layout-7 .main__img {
    margin-right: 0;
  }
  .layout-7 .main__img-desk {
    display: none;
  }
  .layout-7 .main__img-mob {
    display: block;
  }
  .layout-7 .main__img__wrapper .items__wrapper {
    position: absolute;
    left: 10px;
    bottom: 40px;
  }
  .layout-7 .main__img__wrapper .items__wrapper__title {
    color: #fff;
    width: 100%;
    min-width: auto;
  }
  .layout-7 .main__img__wrapper .items__wrapper .item__wrapper {
    border-color: #fff;
  }
  .layout-7 .main__img__wrapper .items__wrapper .item__text {
    color: #fff;
  }
  .layout-7 .main__img__wrapper .items__wrapper .item__icon svg path {
    stroke: #fff;
  }
}
.layout-8 .items__wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.layout-8 .items__wrapper .layout__title {
  margin-bottom: 40px;
}
.layout-8 .items__wrapper .item__wrapper {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  margin-bottom: 80px;
}
.layout-8 .items__wrapper .item__wrapper:last-child {
  margin-bottom: 0;
}
.layout-8 .items__wrapper .item__text__wrapper {
  min-width: 500px;
  width: 500px;
}
.layout-8 .items__wrapper .item__text__wrapper+.item__icon {
  margin-left: 40px;
}
.layout-8 .items__wrapper .item__text__icon {
  width: 80px;
  height: 80px;
  margin-bottom: 40px;
}
.layout-8 .items__wrapper .item__text__icon img {
  width: 100%;
  height: auto;
}
.layout-8 .items__wrapper .item__text {
  font-size: 18px;
  line-height: 150%;
  color: #3a393c;
  font-family: 'Roboto', Arial, sans-serif;
}
.layout-8 .items__wrapper .item__text__subtitle {
  font-size: 27px;
  line-height: 90%;
  color: #003349;
  font-family: "Gilroy-Bold", Arial, sans-serif;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.layout-8 .items__wrapper .item__icon {
  min-width: 720px;
  width: 720px;
}
.layout-8 .items__wrapper .item__icon img {
  width: 100%;
  height: auto;
}
.layout-8 .items__wrapper .item__icon+.item__text__wrapper {
  margin-left: 40px;
}
@media (max-width: 1024px) {
  .layout-8 {
    margin-bottom: 70px;
  }
  .layout-8 .layout__title {
    margin-bottom: 30px;
  }
  .layout-8 .items__wrapper .item__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    margin-bottom: 50px;
  }
  .layout-8 .items__wrapper .item__wrapper:last-child {
    margin-bottom: 0;
  }
  .layout-8 .items__wrapper .item__text__wrapper {
    width: 100%;
    min-width: auto;
    margin-bottom: 27px;
  }
  .layout-8 .items__wrapper .item__text__wrapper+.item__icon {
    margin-left: 0;
  }
  .layout-8 .items__wrapper .item__text {
    margin-bottom: 0;
    font-size: 14px;
    line-height: 150%;
  }
  .layout-8 .items__wrapper .item__text__icon {
    margin-bottom: 30px;
    width: 60px;
    min-width: 60px;
    height: 60px;
  }
  .layout-8 .items__wrapper .item__icon {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    margin-left: 0;
    width: 100%;
    min-width: auto;
  }
  .layout-8 .items__wrapper .item__icon+.item__text__wrapper {
    margin-left: 0;
  }
}
.layout-9 {
  max-width: 1440px;
  width: 100%;
}
.layout-9 .items__wrapper .item__wrapper {
  display: block;
}
@media (max-width: 1024px) {
  .layout-9 .items__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.layout-9 .layout__title {
  margin-bottom: 57px;
  margin-left: 40px;
}
.layout-9 .layout__subtitle {
  margin-left: 40px;
  margin-bottom: 33px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
.layout-9 .layout__subtitle .icon__wrapper {
  min-width: 30px;
  width: 30px;
  margin-right: 10px;
}
.layout-9 .layout__subtitle .icon__wrapper img {
  width: 100%;
  height: auto;
}
.layout-9 .layout__subtitle .text {
  text-transform: uppercase;
  font-family: 'Gilroy-Bold', Arial, sans-serif;
  font-size: 18px;
  line-height: 90%;
  letter-spacing: 0.01em;
}
.layout-9 .layout__text {
  margin-left: 80px;
  margin-bottom: 24px;
}
.layout-9 .layout__link {
  display: inline-block;
  margin-bottom: 24px;
  margin-left: 80px;
  position: relative;
  color: #0072ce;
  font-size: 17px;
  line-height: 150%;
  font-family: 'Roboto', Arial, sans-serif;
}
.layout-9 .layout__link:after {
  display: block;
  content: '';
  width: 100%;
  height: 1px;
  background-color: #0072ce;
  position: absolute;
  bottom: 0;
  left: 0;
}
.layout-9 .map__section {
  width: 100%;
  height: 640px;
}
@media (max-width: 450px) {
  .layout-9 {
    padding: 0;
    margin-bottom: 60px;
  }
  .layout-9 .layout__title {
    margin-bottom: 30px;
    margin-left: 10px;
  }
  .layout-9 .layout__subtitle {
    margin-bottom: 26px;
    margin-left: 10px;
  }
  .layout-9 .layout__subtitle .icon__wrapper {
    min-width: 24px;
    width: 24px;
    margin-right: 6px;
  }
  .layout-9 .layout__subtitle .text {
    font-size: 16px;
    line-height: 90%;
  }
  .layout-9 .layout__text {
    margin-bottom: 20px;
    margin-left: 10px;
  }
  .layout-9 .layout__link {
    margin-bottom: 28px;
    margin-left: 10px;
  }
  .layout-9 .map__section {
    width: 100%;
    height: 210px;
  }
}
.b-slider {
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 2;
}
.b-slider .b-more-text {
  position: absolute;
  left: 45%;
  width: 500px;
  bottom: 40px;
  font-size: 9px;
}
.b-slider .b-more-info {
  display: none;
}
.b-payment-link {
  display: none;
}
.b-slide_content .b-text-additional {
  font-size: 25px;
}
.b-slider .b-sliders_wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}
.b-slider .b-sliders_wrapper .b-slide {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
  position: relative;
  width: 100%;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  -o-transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}
.b-slider .b-controls {
  position: absolute;
  bottom: 20px;
  right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.b-slider .b-controls .b-arrow_left {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  z-index: 98;
  cursor: pointer;
}
.b-slider .b-controls .b-arrow_left svg {
  width: 100%;
  height: auto;
}
.b-slider .b-controls .b-arrow_left:hover svg path {
  opacity: 1;
}
.b-slider .b-controls .b-arrow_right {
  height: 40px;
  width: 40px;
  z-index: 98;
  cursor: pointer;
}
.b-slider .b-controls .b-arrow_right svg {
  width: 100%;
  height: auto;
}
.b-slider .b-controls .b-arrow_right:hover svg path {
  opacity: 1;
}
@media (min-width: 300px) and (max-width: 767px) {
  .b-slider .b-controls {
    display: none;
  }
}
.b-slide_content {
  margin: 0 auto;
  position: relative;
}
.b-slide_content .b-image_set img {
  width: 100%;
  max-width: 117%;
}
.b-slide_content .slide-img__desktop {
  display: block;
}
.b-slide_content .slide-img__tab,
.b-slide_content .slide-img__mob {
  display: none;
}
.b-slide_content .b-icons {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.b-slide_content .b-icons .b-icon:first-child {
  margin-right: 0;
}
.b-slide_content .b-text {
  background: #fff;
  color: #3a393c;
  font-family: "Intro", Arial, sans-serif;
  font-size: 65px;
  width: 1150px;
  position: absolute;
  top: 240px;
  left: -60px;
  padding: 60px 20px 60px 60px;
  z-index: 98;
}
.b-slide_content .b-button {
  position: absolute;
  left: 25%;
  bottom: 70px;
  background-color: #fff;
  font-family: "Verdana", Arial, sans-serif;
  font-size: 24px;
  text-transform: uppercase;
  padding: 10px 20px;
  z-index: 10;
  cursor: pointer;
  width: 200px;
  text-align: center;
}
.b-slide_content .b-button:hover {
  background-color: #3a393c;
  color: #fff;
}
.b-slide_content .link__slide {
  position: absolute;
  bottom: 125px;
  right: 280px;
  background-color: #0072ce;
  color: #fff;
  font-family: 'Gilroy-Bold', Arial, sans-serif;
  font-size: 22px;
  line-height: 120%;
  padding: 14px 17px;
  z-index: 100;
}
.footer__wrapper {
  width: 100%;
  padding: 74px 0 82px 0;
  background-color: #3a393c;
  position: relative;
}
@media (max-width: 767px) {
  .footer__wrapper {
    padding: 11px 0 72px 0;
  }
}
.footer__wrapper .items__wrapper {
  max-width: 1310px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
.footer__wrapper .items__wrapper:first-child {
  margin-bottom: 58px;
}
.footer__wrapper .items__wrapper:nth-child(2) {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-bottom: 66px;
}
.footer__wrapper .items__wrapper:nth-child(3) {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
@media (max-width: 1365px) {
  .footer__wrapper .items__wrapper {
    padding: 0 42px;
  }
}
@media (max-width: 1024px) {
  .footer__wrapper .items__wrapper:first-child .item__wrapper:nth-child(7) {
    margin-right: 0;
  }
}
@media (max-width: 1023px) {
  .footer__wrapper .items__wrapper {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .footer__wrapper .items__wrapper:first-child {
    margin-bottom: 0;
  }
  .footer__wrapper .items__wrapper:nth-child(2) {
    position: absolute;
    left: 296px;
    top: 411px;
  }
}
@media (max-width: 767px) {
  .footer__wrapper .items__wrapper {
    padding: 0;
  }
  .footer__wrapper .items__wrapper:nth-child(2) {
    position: relative;
    left: inherit;
    top: inherit;
    padding: 0 10px;
    margin-bottom: 57px;
  }
}
.footer__wrapper .items__wrapper .links__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-bottom: 50px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
@media (max-width: 1023px) {
  .footer__wrapper .items__wrapper .links__wrapper {
    margin-bottom: 0;
  }
}
@media (max-width: 767px) {
  .footer__wrapper .items__wrapper .links__wrapper {
    margin-bottom: 48px;
  }
}
.footer__wrapper .items__wrapper .links__wrapper .item__wrapper {
  margin-right: 60px;
  margin-bottom: 51px;
}
@media (max-width: 767px) {
  .footer__wrapper .items__wrapper .links__wrapper .item__wrapper {
    margin-right: 0;
    margin-bottom: 0;
    border-bottom: 1px solid rgba(169,169,169,0.21);
    width: 100%;
    padding: 30px 10px;
  }
  .footer__wrapper .items__wrapper .links__wrapper .item__wrapper:nth-child(n+2) {
    padding: 14px 10px;
  }
}
.footer__wrapper .items__wrapper .links__wrapper .item__title {
  color: #fff;
  font-size: 16px;
  line-eight: 19px;
  font-family: 'Gilroy-Bold', Arial, sans-serif;
  text-decoration: none;
  margin-bottom: 17px;
}
.footer__wrapper .items__wrapper .links__wrapper .item__title:hover {
  color: #fff;
}
.footer__wrapper .items__wrapper .links__wrapper .item__link {
  display: block;
  color: rgba(255,255,255,0.5);
  font-size: 14px;
  line-height: 16px;
  font-family: 'Roboto', Arial, sans-serif;
  margin-bottom: 14px;
}
.footer__wrapper .items__wrapper .links__wrapper .item__link:last-child {
  margin-bottom: 0;
}
.footer__wrapper .items__wrapper .links__wrapper .item__link:hover {
  color: #fff;
}
.footer__wrapper .items__wrapper .subscription__form {
  width: 383px;
  min-width: 383px;
  padding: 30px 32px 33px 38px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #3a393c;
  border: 1px solid rgba(255,255,255,0.2);
}
.footer__wrapper .items__wrapper .subscription__form .form__title {
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: rgba(255,255,255,0.9);
  font-family: 'Gilroy-Bold', Arial, sans-serif;
  margin-bottom: 15px;
  text-transform: uppercase;
}
.footer__wrapper .items__wrapper .subscription__form .form__text {
  font-size: 14px;
  line-height: 16px;
  color: rgba(255,255,255,0.78);
  font-family: 'Roboto', Arial, sans-serif;
  margin-bottom: 29px;
  max-width: 307px;
}
.footer__wrapper .items__wrapper .subscription__form .form__input__wrapper {
  margin-botto: 20px;
  border: 1px solid rgba(169,169,169,0.21);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 15px 20px;
  font-size: 14px;
  line-height: 18px;
  color: rgba(255,255,255,0.9);
  font-family: 'Roboto', Arial, sans-serif;
  margin-bottom: 16px;
}
.footer__wrapper .items__wrapper .subscription__form .form__input__wrapper input {
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  color: rgba(255,255,255,0.9);
}
.footer__wrapper .items__wrapper .subscription__form .button {
  width: 100%;
  display: inline-block;
  padding: 16px 30px;
  font-size: 14px;
  line-height: 16px;
  font-family: 'Roboto', Arial, sans-serif;
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 2px;
  white-space: nowrap;
  cursor: pointer;
}
.footer__wrapper .items__wrapper .subscription__form .button:hover {
  color: #fff;
}
@media (max-width: 1024px) {
  .footer__wrapper .items__wrapper .subscription__form {
    min-width: 340px;
    width: 340px;
    margin-bottom: 40px;
  }
}
@media (max-width: 1023px) {
  .footer__wrapper .items__wrapper .subscription__form {
    min-width: 272px;
    width: 272px;
    padding: 30px 24px 32px 24px;
  }
}
@media (max-width: 767px) {
  .footer__wrapper .items__wrapper .subscription__form {
    width: 93%;
    min-width: auto;
    margin: 0 auto 49px auto;
  }
}
.footer__wrapper .items__wrapper .logo__section {
  margin-right: 103px;
}
@media (max-width: 1365px) {
  .footer__wrapper .items__wrapper .logo__section {
    margin-bottom: 72px;
    margin-right: 21px;
  }
}
@media (max-width: 767px) {
  .footer__wrapper .items__wrapper .logo__section {
    margin-bottom: 48px;
    margin-right: 0;
  }
}
.footer__wrapper .items__wrapper .logo__wrapper {
  width: 159px;
  margin-bottom: 11px;
}
@media (max-width: 1023px) {
  .footer__wrapper .items__wrapper .logo__wrapper {
    width: 138px;
  }
}
.footer__wrapper .items__wrapper .logo__wrapper img {
  width: 100%;
  height: auto;
}
.footer__wrapper .items__wrapper .logo__text__p {
  margin-bottom: 10px;
  color: rgba(255,255,255,0.5);
  font-size: 12px;
  line-height: 14px;
  font-family: 'Roboto', Arial, sans-serif;
  white-space: nowrap;
}
@media (max-width: 1024px) {
  .footer__wrapper .items__wrapper .logo__text__p {
    white-space: normal;
  }
}
.footer__wrapper .items__wrapper .logo__text__p a {
  color: rgba(255,255,255,0.5);
}
.footer__wrapper .items__wrapper .logo__text__p a:hover {
  color: #fff;
}
.footer__wrapper .items__wrapper .text__location {
  margin-right: 181px;
}
@media (max-width: 1365px) {
  .footer__wrapper .items__wrapper .text__location {
    margin-bottom: 27px;
    margin-right: 24;
  }
}
.footer__wrapper .items__wrapper .text__location__p {
  font-size: 14px;
  line-height: 16px;
  color: #fff;
  font-family: Roboto, Arial, sans-serif;
  margin-bottom: 15px;
  max-width: 283px;
  position: relative;
  padding-left: 30px;
}
.footer__wrapper .items__wrapper .text__location__p img {
  position: absolute;
  left: 0;
  top: 0;
  margin-right: 13px;
  width: 14px;
  height: 14px;
}
.footer__wrapper .items__wrapper .social__section {
  width: 426px;
}
@media (max-width: 1023px) {
  .footer__wrapper .items__wrapper .social__section {
    width: 100%;
  }
}
.footer__wrapper .items__wrapper .social__item {
  display: inline-block;
  margin-right: 40px;
}
.footer__wrapper .items__wrapper .social__item:last-child {
  margin-right: 0;
}
.footer__wrapper .items__wrapper .social__title {
  font-size: 15px;
  line-height: 19px;
  font-family: 'Gilroy', Arial, sans-serif;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 18px;
}
@media (max-width: 767px) {
  .footer__wrapper .items__wrapper .social__title {
    font-size: 12px;
    line-height: 14px;
  }
}
.footer__wrapper .items__wrapper .social__img__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-bottom: 20px;
}
.footer__wrapper .items__wrapper .social__img__wrapper .social__img {
  width: 30px;
  height: 30px;
  margin-right: 20px;
}
@media (max-width: 767px) {
  .footer__wrapper .items__wrapper .social__img__wrapper .social__img {
    width: 24px;
    height: 24px;
    margin-right: 16px;
  }
}
.footer__wrapper .items__wrapper .social__img__wrapper .social__img:last-child {
  margin-right: 0;
}
.footer__wrapper .items__wrapper .social__img__wrapper .social__img:hover svg path {
  fill-opacity: 1;
}
.footer__wrapper .items__wrapper .social__text__p {
  font-size: 13px;
  line-height: 15px;
  font-family: 'Roboto', Arial, sans-serif;
  color: rgba(255,255,255,0.5);
  margin-bottom: 8px;
}
.footer__wrapper .items__wrapper .social__text__p:nth-child {
  margin-bottom: 0;
}
.footer__wrapper .items__wrapper .social__text__p a {
  color: rgba(255,255,255,0.5);
}
.footer__wrapper .items__wrapper .social__text__p a:hover {
  color: #fff;
}
@media (max-width: 767px) {
  .footer__wrapper .items__wrapper .footer__text {
    padding: 0 10px;
    margin-bottom: 34px;
  }
}
.footer__wrapper .items__wrapper .footer__text__p {
  font-size: 12px;
  line-height: 14px;
  color: rgba(255,255,255,0.5);
  font-family: Roboto, Arial, sans-serif;
  max-width: 818px;
  width: 100%;
  margin-right: 110px;
}
@media (max-width: 1024px) {
  .footer__wrapper .items__wrapper .footer__text__p {
    max-width: 540px;
    margin-right: 59px;
  }
}
@media (max-width: 1023px) {
  .footer__wrapper .items__wrapper .footer__text__p {
    max-width: 273px;
    margin-right: 27px;
  }
}
.footer__wrapper .items__wrapper .footer__text-link {
  white-space: nowrap;
  font-family: Roboto, Arial, sans-serif;
  color: rgba(255,255,255,0.5);
  font-size: 12px;
  line-height: 14px;
}
.footer__wrapper .items__wrapper .footer__text-link:hover {
  color: #fff;
}
@media (max-width: 1024px) {
  .footer__wrapper .items__wrapper .footer__text-link {
    color: #fff;
  }
}

/*# sourceMappingURL=maps/style.css.map */
