.parking-type__items
    .parking-type__item.standard
        .img__wrapper
            img(src="/img/parking/icons/p-standart.svg")
        div
            .parking-type__square 5,3 х 2,5 м
            .parking-type__text
                span Стандартное
                | м/место
    .parking-type__item.family
        .img__wrapper
            img(src="/img/parking/icons/p-family.svg")
        div
            .parking-type__square 10,6 х 5 м
            .parking-type__text
                span Семейное
                | м/место
    .parking-type__item.increased
        .img__wrapper
            img(src="img/parking/icons/p-enlarged.svg")
        div
            .parking-type__square 6 х 3,6 м
            .parking-type__text
                span Увеличенное
                | м/место
    .parking-type__item.boxing
        .img__wrapper
            img(src="/img/parking/icons/p-box.svg")
        div
            .parking-type__square 5,3 х 2,5 м
            .parking-type__text
                span Бокс
    .parking-type__item.small-class
        .img__wrapper
            img(src="/img/parking/icons/p-small-class.svg")
        div
            .parking-type__square 2,1 х 1,9 м
            .parking-type__text
                span Для машин малого класса
    .parking-type__item.other
        .img__wrapper
            img(src="/img/parking/icons/p-other.svg")
        div
            .parking-type__square < 1,9 м
            .parking-type__text
                span Для иного транспорта
    .parking-type__item.family-small
        .img__wrapper
            img(src="/img/parking/icons/p-family-small.svg")
        div
            .parking-type__square < 4,6 х 10
            .parking-type__text
                span Семейное малого класса
    .parking-type__item.standard-small
        .img__wrapper
            img(src="/img/parking/icons/p-standart-small.svg")
        div
            .parking-type__square 2,3 х 6,5
            .parking-type__text
                span Семейное малого класса
    .parking-type__item.limited
        .img__wrapper
            img(src="/img/parking/icons/p-limited.svg")
        div
            .parking-type__square 5,3 х 2,5 м
            .parking-type__text
                span Ограниченное м/место

