.table__wrapper-parking
    .table__row.table__header
        .table__cell №
        .table__cell Тип места
        .table__cell Корпус
        .table__cell Ввод в эксплуатацию
        .table__cell Этаж
        .table__cell Цена покупки
    .table__body
        .table__row
            .table__cell 57
            .table__cell.parking-type-standart Стандартное
            .table__cell
                .table__cell__label Корпус
                .table__cell__text 29 (3 очередь)
            .table__cell
                .table__cell__label Ввод в эксплуатацию
                .table__cell__text IV квартал 2022 года
            .table__cell
                .table__cell__label Этаж
                .table__cell__text 2
            .table__cell.table__cell-price
                .table__cell__label Цена покупки
                .table__cell__text 399 000 ₽
            .button__wrapper.popup__show(data-anchor="#booking") Забронировать
        .table__row.double__seat.double__seat-family
            .table__cell 89, 90
            .table__cell.parking-type-family Семейное
                .tooltip__wrapper
                    span.tooltip__title Сдвоенное
                    .tooltip__icon
                        svg(width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg")
                            path(d="M6 0C2.70445 0 0 2.70445 0 6C0 9.29555 2.70445 12 6 12C9.29555 12 12 9.29555 12 6C12 2.70445 9.29555 0 6 0ZM6 9.16406C5.80584 9.16406 5.64844 9.00666 5.64844 8.8125C5.64844 8.6183 5.80584 8.46094 6 8.46094C6.19416 8.46094 6.35156 8.6183 6.35156 8.8125C6.35156 9.00666 6.19416 9.16406 6 9.16406ZM6.87926 6.11604C6.55378 6.30452 6.35156 6.65473 6.35156 7.02996V7.40625C6.35156 7.60057 6.19432 7.75781 6 7.75781C5.80568 7.75781 5.64844 7.60057 5.64844 7.40625V7.02996C5.64844 6.40444 5.98523 5.82113 6.52699 5.50767C6.85247 5.31919 7.05469 4.96901 7.05469 4.59375C7.05469 4.01217 6.58158 3.53906 6 3.53906C5.41842 3.53906 4.94531 4.01217 4.94531 4.59375C4.94531 4.78807 4.78807 4.94531 4.59375 4.94531C4.39943 4.94531 4.24219 4.78807 4.24219 4.59375C4.24219 3.62454 5.03079 2.83594 6 2.83594C6.96921 2.83594 7.75781 3.62454 7.75781 4.59375C7.75781 5.21927 7.42102 5.80259 6.87926 6.11604Z" fill="#A3AEC1")
                    .tooltip__text Продается только совместно

            .table__cell
                .table__cell__label Корпус
                .table__cell__text 29 (3 очередь)
            .table__cell
                .table__cell__label Ввод в эксплуатацию
                .table__cell__text IV квартал 2022 года
            .table__cell
                .table__cell__label Этаж
                .table__cell__text 2
            .table__cell.table__cell-price
                .table__cell__label Цена покупки
                .table__cell__text 399 000 ₽
            .duble__text
                .img__wrapper
                    img(src="img/parking/icons/attention.svg")
                | Сдвоенное машиноместо. Продается только совместно
            .button__wrapper.popup__show(data-anchor="#booking") Забронировать
        .table__row
            .table__cell 91
            .table__cell.parking-type-increased Увеличенное
            .table__cell
                .table__cell__label Корпус
                .table__cell__text 29 (3 очередь)
            .table__cell
                .table__cell__label Ввод в эксплуатацию
                .table__cell__text IV квартал 2022 года
            .table__cell
                .table__cell__label Этаж
                .table__cell__text 2
            .table__cell.table__cell-price
                .table__cell__label Цена покупки
                .table__cell__text 399 000 ₽
            .button__wrapper.popup__show(data-anchor="#booking") Забронировать
        .table__row
            .table__cell 62
            .table__cell.parking-type-boxing Бокс
            .table__cell
                .table__cell__label Корпус
                .table__cell__text 29 (3 очередь)
            .table__cell
                .table__cell__label Ввод в эксплуатацию
                .table__cell__text IV квартал 2022 года
            .table__cell
                .table__cell__label Этаж
                .table__cell__text 2
            .table__cell.table__cell-price
                .table__cell__label Цена покупки
                .table__cell__text 399 000 ₽
            .button__wrapper.popup__show(data-anchor="#booking") Забронировать
        .table__row
            .table__cell 57
            .table__cell.parking-type-small-class Для машин малого класса
            .table__cell
                .table__cell__label Корпус
                .table__cell__text 29 (3 очередь)
            .table__cell
                .table__cell__label Ввод в эксплуатацию
                .table__cell__text IV квартал 2022 года
            .table__cell
                .table__cell__label Этаж
                .table__cell__text 2
            .table__cell.table__cell-price
                .table__cell__label Цена покупки
                .table__cell__text 399 000 ₽
            .button__wrapper.popup__show(data-anchor="#booking") Забронировать
        .table__row
            .table__cell 57
            .table__cell.parking-type-other Для иного транспорта
            .table__cell
                .table__cell__label Корпус
                .table__cell__text 29 (3 очередь)
            .table__cell
                .table__cell__label Ввод в эксплуатацию
                .table__cell__text IV квартал 2022 года
            .table__cell
                .table__cell__label Этаж
                .table__cell__text 2
            .table__cell.table__cell-price
                .table__cell__label Цена покупки
                .table__cell__text 399 000 ₽
            .button__wrapper.popup__show(data-anchor="#booking") Забронировать
        .table__row.double__seat.double__seat-family-small
            .table__cell 57, 58
            .table__cell.parking-type-family-small Семейное малого класса
                .tooltip__wrapper
                    .tooltip__icon
                        svg(width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg")
                            path(d="M6 0C2.70445 0 0 2.70445 0 6C0 9.29555 2.70445 12 6 12C9.29555 12 12 9.29555 12 6C12 2.70445 9.29555 0 6 0ZM6 9.16406C5.80584 9.16406 5.64844 9.00666 5.64844 8.8125C5.64844 8.6183 5.80584 8.46094 6 8.46094C6.19416 8.46094 6.35156 8.6183 6.35156 8.8125C6.35156 9.00666 6.19416 9.16406 6 9.16406ZM6.87926 6.11604C6.55378 6.30452 6.35156 6.65473 6.35156 7.02996V7.40625C6.35156 7.60057 6.19432 7.75781 6 7.75781C5.80568 7.75781 5.64844 7.60057 5.64844 7.40625V7.02996C5.64844 6.40444 5.98523 5.82113 6.52699 5.50767C6.85247 5.31919 7.05469 4.96901 7.05469 4.59375C7.05469 4.01217 6.58158 3.53906 6 3.53906C5.41842 3.53906 4.94531 4.01217 4.94531 4.59375C4.94531 4.78807 4.78807 4.94531 4.59375 4.94531C4.39943 4.94531 4.24219 4.78807 4.24219 4.59375C4.24219 3.62454 5.03079 2.83594 6 2.83594C6.96921 2.83594 7.75781 3.62454 7.75781 4.59375C7.75781 5.21927 7.42102 5.80259 6.87926 6.11604Z" fill="#A3AEC1")
                    .tooltip__text Сдвоенное. Продается только совместно
            .table__cell
                .table__cell__label Корпус
                .table__cell__text 29 (3 очередь)
            .table__cell
                .table__cell__label Ввод в эксплуатацию
                .table__cell__text IV квартал 2022 года
            .table__cell
                .table__cell__label Этаж
                .table__cell__text 2
            .table__cell.table__cell-price
                .table__cell__label Цена покупки
                .table__cell__text 399 000 ₽
            .duble__text
                .img__wrapper
                    img(src="img/parking/icons/attention.svg")
                | Сдвоенное машиноместо. Продается только совместно
            .button__wrapper.popup__show(data-anchor="#booking") Забронировать
        .table__row
            .table__cell 57
            .table__cell.parking-type-standard-small Уменьшенное стандартное
            .table__cell
                .table__cell__label Корпус
                .table__cell__text 29 (3 очередь)
            .table__cell
                .table__cell__label Ввод в эксплуатацию
                .table__cell__text IV квартал 2022 года
            .table__cell
                .table__cell__label Этаж
                .table__cell__text 2
            .table__cell.table__cell-price
                .table__cell__label Цена покупки
                .table__cell__text 399 000 ₽
            .button__wrapper.popup__show(data-anchor="#booking") Забронировать
        .table__row
            .table__cell 57
            .table__cell.parking-type-limited Ограниченное
            .table__cell
                .table__cell__label Корпус
                .table__cell__text 29 (3 очередь)
            .table__cell
                .table__cell__label Ввод в эксплуатацию
                .table__cell__text IV квартал 2022 года
            .table__cell
                .table__cell__label Этаж
                .table__cell__text 2
            .table__cell.table__cell-price
                .table__cell__label Цена покупки
                .table__cell__text 399 000 ₽
            .button__wrapper.popup__show(data-anchor="#booking") Забронировать
    .button__wrapper.button__wrapper-white + показать ещё  10 из 30

