@font-face
  font-family: "Gilroy"
  src: url("../fonts/Gilroy-Regular.ttf") format("ttf"),
       url("../fonts/Gilroy-Regular.eot") format("eot"),
       url("../fonts/Gilroy-Regular.woff") format("woff")
  font-style: normal
  font-display: swap

@font-face
  font-family: "Gilroy-Medium"
  src: url("../fonts/Gilroy-Medium.ttf") format("ttf"),
          url("../fonts/Gilroy-Medium.eot") format("eot"),
          url("../fonts/Gilroy-Medium.woff") format("woff")
  font-style: normal
  font-display: swap

@font-face
  font-family: "Gilroy-ExtraBold"
  src: url("../fonts/Gilroy-ExtraBold.ttf") format("ttf"),
          url("../fonts/Gilroy-ExtraBold.eot") format("eot"),
          url("../fonts/Gilroy-ExtraBold.woff") format("woff")
  font-style: normal
  font-display: swap

@font-face
  font-family: "Gilroy-SemiBold"
  src: url("../fonts/Gilroy-SemiBold.ttf") format("ttf"),
          url("../fonts/Gilroy-SemiBold.eot") format("eot"),
          url("../fonts/Gilroy-SemiBold.woff") format("woff")
  font-style: normal
  font-display: swap

@font-face
  font-family: "Gilroy-Bold"
  src: url("../fonts/Gilroy-Bold.ttf") format("ttf"),
          url("../fonts/Gilroy-Bold.eot") format("eot"),
          url("../fonts/Gilroy-Bold.woff") format("woff")
  font-style: normal
  font-display: swap

@font-face
  font-family: "Geometria"
  src: url("../fonts/Geometria.ttf") format("ttf"),
          url("../fonts/Geometria.eot") format("eot"),
          url("../fonts/Geometria.woff") format("woff")
  font-style: normal
  font-display: swap
@font-face
  font-family: "Geometria-Bold"
  src: url("../fonts/Geometria-Bold.ttf") format("ttf"),
          url("../fonts/Geometria-Bold.eot") format("eot"),
          url("../fonts/Geometria-Bold.woff") format("woff")
  font-style: normal
  font-display: swap

@font-face
  font-family: "Roboto"
  src: url("../fonts/Roboto-Regular.ttf") format("ttf")
  font-style: normal
  font-display: swap

@font-face
  font-family: "Roboto-Bold"
  src: url("../fonts/Roboto-Bold.ttf") format("ttf")
  font-style: normal
  font-display: swap
