@import "default.styl"
@import "fonts.styl"
@import "hotoffer/baner.styl"
@import "hotoffer/acordeon.styl"
@import "hotoffer/cards.styl"
@import "hotoffer/table.styl"

.layout__wrapper
  max-width: 1364px
  margin:  0 auto
.layout__title
  margin-bottom: 43px
  font-size: 24px
  line-height: 112%
  font-family: Gilroy-Bold, Arial, sans-serif
  text-transform: uppercase
  color: #005BB9
  @media(max-width: 1366px)
    padding: 0 20px
  @media(max-width: 767px)
    padding: 0 20px
    margin-bottom: 25px
.no-result
  &__wrapper
    font-size: 18px
    line-height: 150%
    text-align: center
    color: #B1B1B1
    font-family: Geometria, Arial, sans-serif
    max-width: 437px
    margin: 0 auto
    @media(max-width: 767px)
      max-width: 275px
  &__icon
    width: 64px
    height: 64px
    margin: 0 auto 24px auto
    img
      width: 100%
      height: auto
.acordeon__content
  .button__wrapper
    display: block
    padding: 12px 0
    font-size: 18px
    line-height: 25px
    text-align: center
    font-family: Roboto, Arial, sans-serif
    color: #005BB9
    border: 1px solid #005BB9
    box-sizing: border-box
    margin: 0 auto
    width: 260px
    cursor: pointer
    background-color: #fff
    outline: none
    margin-top: 40px
    &:hover
      color: #005BB9
      text-decoration: none
.phone__form
  &__wrapper
    max-width: 1920px
    margin: 0 auto
    padding: 48px 0 60px 0
    box-sizing: border-box
    background-color: #F7F5F3
    .button__wrapper
      display: block
      padding: 13px 40px 14px 40px
      font-size: 16px
      line-height: 132%
      text-align: center
      font-family: Roboto, Arial, sans-serif
      color: #fff
      border: 1px solid #005BB9
      box-sizing: border-box
      width: 206px
      height: 48px
      border-radius: 0
      cursor: pointer
      background-color: #005BB9
      outline: none
      margin: 0 auto
      @media(max-width: 767px)
        width: 84%
      &:hover
        color: #fff
        text-decoration: none
  &__title
    text-align: center
    font-size: 24px
    line-height: 29px
    color: rgba(51, 51, 51, 0.78)
    font-family: Gilroy-Bold, Arial, sans-serif
    margin-bottom: 34px
    @media(max-width: 1024px)
      font-size: 20px
      line-height: 24px
    @media(max-width: 767px)
      font-size: 14px
      line-height: 17px
      margin-bottom: 28px






