@import "default.styl"
@import "news/main.styl"
@import "news/sort.styl"
@import "news/news-list.styl"
@import "news/pagination.styl"
@import "news/mailing-form.styl"
@import "news/cards.styl"
@import "news/detail.styl"
