@font-face
  font-family: "Geometria"
  src: url("../fonts/Geometria.ttf") format("ttf"),
          url("../fonts/Geometria.eot") format("eot"),
          url("../fonts/Geometria.woff") format("woff")
  font-style: normal
  font-display: swap
@font-face
  font-family: "Geometria-Bold"
  src: url("../fonts/Geometria-Bold.ttf") format("ttf"),
          url("../fonts/Geometria-Bold.eot") format("eot"),
          url("../fonts/Geometria-Bold.woff") format("woff")
  font-style: normal
  font-display: swap

@import "default.styl"
@import "content/button.styl"
@import "planirovki-i-ceny/commercial.styl"
@import "planirovki-i-ceny/choice.styl"
@import "planirovki-i-ceny/pagination.styl"

.finishing__img
  width: 40px
  min-wwidth: 40px
  height: 40px
  margin-right: 8px
  img
    width: 100%
    height: auto

@import "planirovki-i-ceny/sale.styl"