@import "../mixin/flex.styl"

.layout
  &__title
    width: 100%
    font-size: 24px
    line-height: 112%
    font-family: "Gilroy-Bold", Arial, sans-serif
    color: #005BB9
    margin-bottom: 43px
    text-transform: uppercase
    @media(max-width: 750px)
      font-size: 24px
      line-height: 29px
      color: #B19A7C
      margin-bottom: 34px
      margin-left: 10px
  &__text
    font-size: 18px
    line-height: 25px
    font-family: "Roboto", Arial, sans-serif
    color: rgba(51, 51, 51, 0.78)
    &-bold
      font-family: "Roboto-Bold", Arial, sans-serif
      font-weight: bold
    &-small
      font-size: 12px
      line-height: 14px
  &__booking
    max-width: 1366px
    margin: 176px auto 0 auto
    flex()
    flex-wrap: wrap
    @media(max-width: 1366px)
      padding: 0 10px
    @media(max-width: 1024px)
      padding: 0 74px 0 74px
      position: relative
    @media(max-width: 750px)
      position: relative
      padding: 0
    .button__wrapper
      font-size: 16px
      line-height: 132%
      color: #005BB9
      padding: 13px 32px 14px 32px
      border: 1px solid #005BB9
      font-family: Roboto, Arial, sans-serif
      display: inline-block
      cursor: pointer
      background-color: #fff
      border-radius: 0
      &:hover
        background-color: #005BB9
        color: #fff
      @media (max-width: 767px)
        width: 100%
        text-align: center
    .button__img
      flex(flex-start, center, row)
      font-size: 18px
      line-height: 24px
      font-family: Roboto, Arial, sans-serif
      cursor: pointer
      .icon__wrapper
        width: 40px
        height: 40px
        flex(center, center, row)
        background-color: rgba(0, 91, 185, 0.08)
        border-radius: 50%
        img, svg
          width: 16px
      &:hover
        .icon__wrapper
          background-color: #005BB9
          svg
            path
              fill: #fff
      @media(max-width: 750px)
        width: 100%
        border: 1px solid #005BB9
        padding: 13px 0 14px 0
        justify-content: center
        font-size: 16px
        line-height: 132%
        .icon__wrapper
          width: 20px
          height: 20px
          img
            width: 8px
    .input
      &__label
        font-size: 12px
        line-height: 14px
        font-family: Roboto, Arial, sans-serif
        color: rgba(51, 51, 51, 0.6)
        margin-bottom: 9px
      &__wrapper
        input[type="text"]
          width: 100%
          border: 1px solid rgba(0, 0, 0, 0.1)
          padding: 13px 14px 14px 16px
          font-size: 16px
          line-height: 132%
          font-family: Roboto,Arial, sans-serif
          border-radius: 0
          box-sizing: border-box
          color: rgba(51, 51, 51, 0.78)
          &:focus, &:focus-visible
            outline: none





.list-owners__wrapper
  height: 432px
  overflow-y: auto
  padding-right: 11px
  margin-bottom: 26px
  .checkbox
    &__section
      flex(space-between, center, row)
      cursor: pointer
      padding: 11px 0
      border-bottom: 1px solid rgba(0, 0, 0, 0.1)
      position: relative
    &__label
      font-size: 18px
      line-height: 25px
      color: rgba(51,51,51,0.78)
      font-family: Roboto, Arial, sans-serif
  @media(max-width: 767px)
    height: 250px

