doctype
html
    head
        title О застройщике
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet" href="./css/slick.css")
        link(rel="stylesheet" href="./css/slick-theme.css")
        link(rel="stylesheet" href="./css/about.css")
    body
        include content/breadcrumb/index
        include content/about/layout-1
        include content/about/layout-2
        include content/about/layout-3
        include content/about/layout-4
        include content/about/layout-5
        include content/about/layout-6
        include content/about/layout-7
        include content/about/layout-8
        include content/about/layout-9
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js")
        script(src="js/about/slick.min.js")
        script(src="js/about/slick-init.js")
        script(src="js/about/tabs.js")
