html
    include head
    body
        include menu
        include content/layout-1
        include content/layout-2
        include content/layout-3
        include content/layout-4
        include content/layout-5
        include content/layout-6
        include content/layout-7
        include content/layout-8
        //include content/layout-9
        include footer
        //script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js")
        script(src="./js/script.js")

