.menu__wrapper.menu__header-top
    .menu__items
        .menu__item.menu__item__logo
            .menu__item__text Построено
            .menu__item__icon
                img(src="./img/icons/glavstroy-logo.svg" alt="Главстрой")
        .menu__item.location
            .menu__item__icon
                img(src="./img/icons/location.svg")
            .menu__item__text г.Санкт-Петербург
        .menu__item.metro-logo
            .menu__item__icon
                img(src="./img/icons/metro-logo.svg")
            .menu__item__text Ст. м. “Парнас”
        a(href="#").menu__item.call
            .menu__item__icon
                img(src="./img/icons/call.svg")
            .menu__item__text +7 (812) 604-04-04
        .menu__item.login
            .menu__item__main
                .menu__item__icon
                    img(src="./img/icons/logout.svg")
                .menu__item__text Выйти
            .sub-menu__items
                a(href="#").sub-menu__item Выход
        a(href="#").menu__item.apartment-search
            .button Подобрать квартиру
.menu__wrapper.menu__header-bottom
    .menu__items
        .menu__item.menu__item__logo
            .menu__item__icon
                img(src="./img/icons/21-sevdol-logo.svg")
        .menu__item.menu__item-vr
            .menu__item__icon
                img(src="./img/icons/360-tour.svg")
            .menu__item__text VR-тур
        a(href="#").menu__item
            .menu__item__text Ход строительства
        .menu__item
            a(href="#").menu__item__text Варианты покупки
            .sub-menu__items
                a(href="#").sub-menu__item Ипотека
                a(href="#").sub-menu__item Рассрочка
                a(href="#").sub-menu__item 100% оплата
                a(href="#").sub-menu__item Военная ипотека
                a(href="#").sub-menu__item Онлайн покупка
        a(href="#").menu__item
            .menu__item__text Trade-in
        a(href="#").menu__item
            .menu__item__text Коммерческие помещения
        a(href="#").menu__item.call
            .menu__item__icon
                img(src="./img/icons/call.svg")
        a(href="#").menu__item.login
            .menu__item__icon
                img(src="./img/icons/login.svg")
        a(href="#").menu__item.apartment-search
            .button Подобрать квартиру
        a(href="#").menu__item.btn-menu
            .menu__item__text Меню
            .menu__item__icon
                img(src="./img/icons/menu-icon.svg")
