doctype
html
    head
        title Новости
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet" href="./css/slick.css")
        link(rel="stylesheet" href="./css/slick-theme.css")
        link(rel="stylesheet" href="./css/news.css")
    body
        .layout__wrapper.detail-page
            .main__img
                img(src="img/news/main.png")
            .news__content
                .news__title
                    .news__info
                        span.news__date 21.04.2021
                        | |
                        span.news__category Ход строительства
                    .layout__title 21 квартал: динамика строительства
                .section__text__p «Главстрой Санкт-Петербург» сообщает о динамике строительства корпусов нового 21 квартала «Северной долины». Пробный технический запуск лифтов выполнен в 9 корпусе. В 38, 42 корпусах завершены работы по устройству свайного поля.
                .img__wrapper
                    img(src="img/news/main.png")
                .section__text__p В 5 корпусе (15 очередь) выполнен запуск системы отопления по временной схеме, начались штукатурные работы на 3 этаже. В 6 корпусе на этажах установлены электрощиты. Штукатурные работы в 7 корпусе начались на 9-10 этажах, а в 8 корпусе — на 6 этаже. В 9 корпусе ведется установка фаянса на 2 этаже, выполнен пробный технический запуск лифтов. В корпусе №10 приближаются к завершению работы по установке лебедок лифтов. В корпусе №11 продолжается установка противопожарного водопровода в цоколе здания. В 12 корпусе в цоколе ведется установка систем отопления. В 13 корпусе завершается монтаж ограждений кровли. Продолжается штробление стен со 2 по 16 этажи в корпусе №14.
                .news__action__btns
                    a(href="#").news__action__btn
                        img(src="img/news/vk.svg")
                    a(href="#").news__action__btn
                        img(src="img/news/fb.svg")
                    a(href="#").news__action__btn
                        img(src="img/news/ok.svg")
                    a(href="#").news__action__btn
                        img(src="img/news/tw.svg")
                .video__wrapper
                    iframe(width="100%" height="100%" src="https://www.youtube.com/embed/X5goKhfS4TA")
                .section__text__p В 5 корпусе (15 очередь) выполнен запуск системы отопления по временной схеме, начались штукатурные работы на 3 этаже. В 6 корпусе на этажах установлены электрощиты. Штукатурные работы в 7 корпусе начались на 9-10 этажах, а в 8 корпусе — на 6 этаже. В 9 корпусе ведется установка фаянса на 2 этаже, выполнен пробный технический запуск лифтов. В корпусе №10 приближаются к завершению работы по установке лебедок лифтов. В корпусе №11 продолжается установка противопожарного водопровода в цоколе здания. В 12 корпусе в цоколе ведется установка систем отопления. В 13 корпусе завершается монтаж ограждений кровли. Продолжается штробление стен со 2 по 16 этажи в корпусе №14.
                .section__text__p В 5 корпусе (15 очередь) выполнен запуск системы отопления по временной схеме, начались штукатурные работы на 3 этаже. В 6 корпусе на этажах установлены электрощиты. Штукатурные работы в 7 корпусе начались на 9-10 этажах, а в 8 корпусе — на 6 этаже. В 9 корпусе ведется установка фаянса на 2 этаже, выполнен пробный технический запуск лифтов. В корпусе №10 приближаются к завершению работы по установке лебедок лифтов. В корпусе №11 продолжается установка противопожарного водопровода в цоколе здания. В 12 корпусе в цоколе ведется установка систем отопления. В 13 корпусе завершается монтаж ограждений кровли. Продолжается штробление стен со 2 по 16 этажи в корпусе №14.
                .slider__wrapper
                    .slider
                        .slide__item
                            img(src="img/news/slide-1.png")
                        .slide__item
                            img(src="img/news/slide-1.png")
                        .slide__item
                            img(src="img/news/slide-1.png")
                    .buttons__slider

            include content/news/mailing-form
            .layout__title Читайте также
            .news__items
                .news__item
                    .news__img__wrapper
                        img(src="img/news/card-1.png")
                    .news__text__wrapper
                        .news__info
                            span.news__date 28.04.2021
                            | |
                            span.new__category  Новости компании
                        .news__title Режим работы «Главстрой Санкт-Петербург» в праздничные дни
                        .news__text В праздничные дни отделы продаж «Главстрой Санкт-Петербург» продолжают работать в особом режиме
                        .news__action__wrapper
                            a(href="#").news__action__link Подробнее
                            .news__action__btns
                                a(href="#").news__action__btn
                                    img(src="img/news/vk.svg")
                                a(href="#").news__action__btn
                                    img(src="img/news/fb.svg")
                                a(href="#").news__action__btn
                                    img(src="img/news/ok.svg")
                                a(href="#").news__action__btn
                                    img(src="img/news/tw.svg")
                .news__item
                    .news__img__wrapper
                        img(src="img/news/card-2.png")
                    .news__text__wrapper
                        .news__info
                            span.news__date 21.04.2021
                            | |
                            span.new__category Ход строительства
                        .news__title 21 квартал: динамика строительства
                        .news__text «Главстрой Санкт-Петербург» информирует о ходе строительства корпусов 21 квартала жилого комплекса «Северной долины».
                        .news__action__wrapper
                            a(href="#").news__action__link Подробнее
                            .news__action__btns
                                a(href="#").news__action__btn
                                    img(src="img/news/vk.svg")
                                a(href="#").news__action__btn
                                    img(src="img/news/fb.svg")
                                a(href="#").news__action__btn
                                    img(src="img/news/ok.svg")
                                a(href="#").news__action__btn
                                    img(src="img/news/tw.svg")
                .news__item
                    .news__img__wrapper
                        img(src="img/news/card-3.png")
                    .news__text__wrapper
                        .news__info
                            span.news__date 21.04.2021
                            | |
                            span.new__category Ход строительствапродаж
                        .news__title 21 квартал: динамика строительства
                        .news__text «Главстрой Санкт-Петербург» информирует о ходе строительства корпусов 21 квартала жилого комплекса «Северной долины».
                        .news__action__wrapper
                            a(href="#").news__action__link Подробнее
                            .news__action__btns
                                a(href="#").news__action__btn
                                    img(src="img/news/vk.svg")
                                a(href="#").news__action__btn
                                    img(src="img/news/fb.svg")
                                a(href="#").news__action__btn
                                    img(src="img/news/ok.svg")
                                a(href="#").news__action__btn
                                    img(src="img/news/tw.svg")
                .news__item
                    .news__img__wrapper
                        img(src="img/news/card-4.png")
                    .news__text__wrapper
                        .news__info
                            span.news__date 21.04.2021
                            | |
                            span.new__category Ход строительства
                        .news__title 21 квартал: динамика строительства
                        .news__text «Главстрой Санкт-Петербург» информирует о ходе строительства корпусов 21 квартала жилого комплекса «Северной долины».
                        .news__action__wrapper
                            a(href="#").news__action__link Подробнее
                            .news__action__btns
                                a(href="#").news__action__btn
                                    img(src="img/news/vk.svg")
                                a(href="#").news__action__btn
                                    img(src="img/news/fb.svg")
                                a(href="#").news__action__btn
                                    img(src="img/news/ok.svg")
                                a(href="#").news__action__btn
                                    img(src="img/news/tw.svg")
            .layout__title Возможно Вас заинтересует
            include content/news/cards
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js")
        script(src="js/news/script.js")
        script(src="js/news/slick.min.js")
        script(src="js/news/slick-init.js")