.layout__title Ваши бронирования
.no-data-found
    .info__block
        .layout__text.layout__text-bold  Данных о бронировании объектов не найдено
        .layout__text Выберите и забронируйте квартиру или паркинг на сайте
    .action__buttons
        a(href="#").action__button
            .icon__wrapper
                svg(width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg")
                    path(fill-rule="evenodd" clip-rule="evenodd" d="M8.61539 0H7.38462V7.38461H0V8.61539H7.38462V16H8.61539V8.61539H16V7.38462H8.61539V0Z" fill="#005BB9")
            .layout__text Выбрать и забронировать квартиру
        a(href="#").action__button
            .icon__wrapper
                svg(width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg")
                    path(fill-rule="evenodd" clip-rule="evenodd" d="M8.61539 0H7.38462V7.38461H0V8.61539H7.38462V16H8.61539V8.61539H16V7.38462H8.61539V0Z" fill="#005BB9")
            .layout__text Выбрать и забронировать паркинг
.feedback
    .feedback__location
        .icon__wrapper
            img(src="img/lk/location.svg")
        .layout__text.layout__text-small Отдел продаж
        .layout__text ул. Оптиков, д. 4, корпус 2, БЦ Лахта 1
    .action__buttons
        a(href="#").action__button
            .icon__wrapper
                svg(width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg")
                    path(fill-rule="evenodd" clip-rule="evenodd" d="M8.61539 0H7.38462V7.38461H0V8.61539H7.38462V16H8.61539V8.61539H16V7.38462H8.61539V0Z" fill="#005BB9")
            .layout__text Назначить встречу
        a(href="#").action__button
            .icon__wrapper
                svg(width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg")
                    path(fill-rule="evenodd" clip-rule="evenodd" d="M8.61539 0H7.38462V7.38461H0V8.61539H7.38462V16H8.61539V8.61539H16V7.38462H8.61539V0Z" fill="#005BB9")
            .layout__text Записаться на экскурсию
    .action__buttons
        .action__button.active
            .icon__wrapper
                img(src="img/lk/people.svg")
            .layout__text Встреча назначена 21.09.2021, 15:30
        .action__button.active
            .icon__wrapper
                img(src="img/lk/map.svg")
            .layout__text Вы записаны
                br
                | на экскурсию 25.09.2021, 11:00
.layout__title Ваши бронирования
.tabs__wrapper
    .tab__contents
        .card__wrapper
            .card__title Студия № 258
                .card__subtitle 17 корпус, 18 этаж
                .finishing__type
                    .img__wrapper
                        img(src="img/lk/finishing-type.png")
                    .text__wrapper с отделкой
            .card__img
                img(src="img/lk/plan.png")
            .card__row
                .card__cell
                    .card__label срок сдачи
                    .card__text IV кв. 2023 г.
                .card__cell.card__cell-floor
                    .card__label этаж
                    .card__text 18
                .card__cell.card__cell-corp
                    .card__label корпус
                    .card__text 17
                .card__cell
                    .card__label площадь
                    .card__text 20,52 м
                .card__cell.card__cell-price
                    .card__label цена покупки
                    .card__text 3 563 219 ₽
                .card__cell
                    .card__label в ипотеку
                    .card__text от 17 784 ₽/мес
            .deleted__button.tooltip__icon(data-tooltip="Отказаться от бронирования")
                svg(width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
                    path(d="M19.875 3H15.75V2.25C15.75 1.00734 14.7427 0 13.5 0H10.5C9.25734 0 8.25 1.00734 8.25 2.25V3H4.125C3.08948 3 2.25 3.83948 2.25 4.875V6.375C2.25 6.78923 2.58577 7.125 3 7.125H21C21.4142 7.125 21.75 6.78923 21.75 6.375V4.875C21.75 3.83948 20.9105 3 19.875 3ZM9.75 2.25C9.75 1.83656 10.0866 1.5 10.5 1.5H13.5C13.9134 1.5 14.25 1.83656 14.25 2.25V3H9.75V2.25Z" fill="#D6D6D6")
                    path(d="M3.67284 8.625C3.53901 8.625 3.43237 8.73684 3.43875 8.87053L4.0575 21.8569C4.11469 23.0588 5.10187 24 6.30469 24H17.6944C18.8972 24 19.8844 23.0588 19.9416 21.8569L20.5603 8.87053C20.5667 8.73684 20.46 8.625 20.3262 8.625H3.67284ZM14.9995 10.5C14.9995 10.0856 15.3352 9.75 15.7495 9.75C16.1639 9.75 16.4995 10.0856 16.4995 10.5V20.25C16.4995 20.6644 16.1639 21 15.7495 21C15.3352 21 14.9995 20.6644 14.9995 20.25V10.5ZM11.2495 10.5C11.2495 10.0856 11.5852 9.75 11.9995 9.75C12.4139 9.75 12.7495 10.0856 12.7495 10.5V20.25C12.7495 20.6644 12.4139 21 11.9995 21C11.5852 21 11.2495 20.6644 11.2495 20.25V10.5ZM7.49953 10.5C7.49953 10.0856 7.83515 9.75 8.24953 9.75C8.6639 9.75 8.99953 10.0856 8.99953 10.5V20.25C8.99953 20.6644 8.6639 21 8.24953 21C7.83515 21 7.49953 20.6644 7.49953 20.25V10.5Z" fill="#D6D6D6")
        .period__wrapper
            .img__wrapper
                img(src="img/lk/locked.svg")
            | Забронировано до
            span.text__date  20.09.2021
    .tab__items.tab__items__mob
        .tab__item__mob(data-key="1")
            .tab__item__title Квартиры
                span.current 1
        .tab__item__mob(data-key="2")
            .tab__item__title Паркинг
                span.current 2
        .tab__item__mob(data-key="3")
            .tab__item__title Кладовые
                span.current 5
    .tab__items
        .tab__item.active(data-anchor="1")
            .tab__item__title Квартиры
                span.current 1
            .tab__item__content
                .text__title Данных о бронировании объектов не найдено
                .text__wrapper Выберите и забронируйте квартиру на сайте
                .button__wrapper Выбрать квартиру
        .tab__item(data-anchor="2")
            .tab__item__title Паркинг
                span.current 2
            .tab__item__content
                .text__title Данных о бронировании объектов не найдено
                .text__wrapper Выберите и забронируйте паркинг на сайте
                .button__wrapper Выбрать паркинг
        .tab__item(data-anchor="3")
            .tab__item__title Кладовые
                span.current 5
            .tab__item__content
                .text__title Данных о бронировании объектов не найдено
                .text__wrapper Выберите и забронируйте кладовую на сайте
                .button__wrapper Выбрать кладовую
.feedback
    .manager__wrapper
        .manager__img
        .manager__form
            .manager__name Артемий Длиннаяфамилия
            .manager__text Ваш персональный менеджер
            .manager__phone__wrapper
                .img__wrapper
                    img(src="img/lk/phone.svg")
                .manager__phone__text
                    .manager__phone +7 (912) 000-00-00
                    .manager__link.popup__show(data-anchor="#feedback-form") Заказать звонок
    .feedback__location
        .icon__wrapper
            img(src="img/lk/location.svg")
        .layout__text.layout__text-small Отдел продаж
        .layout__text ул. Оптиков, д. 4, корпус 2, БЦ Лахта 1
    .action__buttons
            a(href="#").action__button.active
                .icon__wrapper
                    img(src="img/lk/people.svg")
                .layout__text Встреча назначена 21.09.2021, 15:30
            a(href="#").action__button.active
                .icon__wrapper
                    img(src="img/lk/map.svg")
                .layout__text Вы записаны
                    br
                    | на экскурсию 25.09.2021, 11:00
.layout__title Ваши бронирования
.tabs__wrapper
    .tab__contents
        .card__wrapper
            .card__title Машиноместо № 25
                .card__subtitle 1 этаж
                .parking-type Надземный
            .card__img
                img(src="img/lk/plan.png")
            .card__row
                .card__cell
                    .card__label тип
                    .card__text.parking-type.parking-type-standart стандартное
                .card__cell
                    .card__label ввод в эксплуатацию
                    .card__text IV кв. 2022 года
                .card__cell.card__cell-floor
                    .card__label этаж
                    .card__text 1
                .card__cell
                    .card__label корпус
                    .card__text 29 (3 очередь)
                .card__cell.card__cell-price
                    .card__label цена покупки
                    .card__text 399 000 ₽
            .deleted__button.tooltip__icon(data-tooltip="Отказаться от бронирования")
                svg(width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
                    path(d="M19.875 3H15.75V2.25C15.75 1.00734 14.7427 0 13.5 0H10.5C9.25734 0 8.25 1.00734 8.25 2.25V3H4.125C3.08948 3 2.25 3.83948 2.25 4.875V6.375C2.25 6.78923 2.58577 7.125 3 7.125H21C21.4142 7.125 21.75 6.78923 21.75 6.375V4.875C21.75 3.83948 20.9105 3 19.875 3ZM9.75 2.25C9.75 1.83656 10.0866 1.5 10.5 1.5H13.5C13.9134 1.5 14.25 1.83656 14.25 2.25V3H9.75V2.25Z" fill="#D6D6D6")
                    path(d="M3.67284 8.625C3.53901 8.625 3.43237 8.73684 3.43875 8.87053L4.0575 21.8569C4.11469 23.0588 5.10187 24 6.30469 24H17.6944C18.8972 24 19.8844 23.0588 19.9416 21.8569L20.5603 8.87053C20.5667 8.73684 20.46 8.625 20.3262 8.625H3.67284ZM14.9995 10.5C14.9995 10.0856 15.3352 9.75 15.7495 9.75C16.1639 9.75 16.4995 10.0856 16.4995 10.5V20.25C16.4995 20.6644 16.1639 21 15.7495 21C15.3352 21 14.9995 20.6644 14.9995 20.25V10.5ZM11.2495 10.5C11.2495 10.0856 11.5852 9.75 11.9995 9.75C12.4139 9.75 12.7495 10.0856 12.7495 10.5V20.25C12.7495 20.6644 12.4139 21 11.9995 21C11.5852 21 11.2495 20.6644 11.2495 20.25V10.5ZM7.49953 10.5C7.49953 10.0856 7.83515 9.75 8.24953 9.75C8.6639 9.75 8.99953 10.0856 8.99953 10.5V20.25C8.99953 20.6644 8.6639 21 8.24953 21C7.83515 21 7.49953 20.6644 7.49953 20.25V10.5Z" fill="#D6D6D6")
        .period__wrapper
            .img__wrapper
                img(src="img/lk/locked.svg")
            |  Забронировано до
            span.text__date  20.09.2021
    .tab__items.tab__items__mob
        .tab__item__mob.active(data-key="1")
            .tab__item__title Квартиры
                span.current 1
        .tab__item__mob(data-key="2")
            .tab__item__title Паркинг
                span.current 2
        .tab__item__mob(data-key="3")
            .tab__item__title Кладовые
                span.current 5
    .tab__items
        .tab__item.active(data-anchor="1")
            .tab__item__title Квартиры
                span.current 1
            .tab__item__content(data-simplebar)
                .cards__wrapper
                    .card__wrapper.card__wrapper-small.active
                        .card__title Студия № 258
                        .card__img
                            img(src="img/lk/plan.png")
                        .card__row
                            .card__cell
                                .card__label площадь
                                .card__text 20,52 м
                            .card__cell.card__cell-price
                                .card__label цена покупки
                                .card__text 3 563 219 ₽
                        .deleted__button.tooltip__icon(data-tooltip="Отказаться от бронирования")
                            svg(width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
                                path(d="M19.875 3H15.75V2.25C15.75 1.00734 14.7427 0 13.5 0H10.5C9.25734 0 8.25 1.00734 8.25 2.25V3H4.125C3.08948 3 2.25 3.83948 2.25 4.875V6.375C2.25 6.78923 2.58577 7.125 3 7.125H21C21.4142 7.125 21.75 6.78923 21.75 6.375V4.875C21.75 3.83948 20.9105 3 19.875 3ZM9.75 2.25C9.75 1.83656 10.0866 1.5 10.5 1.5H13.5C13.9134 1.5 14.25 1.83656 14.25 2.25V3H9.75V2.25Z" fill="#D6D6D6")
                                path(d="M3.67284 8.625C3.53901 8.625 3.43237 8.73684 3.43875 8.87053L4.0575 21.8569C4.11469 23.0588 5.10187 24 6.30469 24H17.6944C18.8972 24 19.8844 23.0588 19.9416 21.8569L20.5603 8.87053C20.5667 8.73684 20.46 8.625 20.3262 8.625H3.67284ZM14.9995 10.5C14.9995 10.0856 15.3352 9.75 15.7495 9.75C16.1639 9.75 16.4995 10.0856 16.4995 10.5V20.25C16.4995 20.6644 16.1639 21 15.7495 21C15.3352 21 14.9995 20.6644 14.9995 20.25V10.5ZM11.2495 10.5C11.2495 10.0856 11.5852 9.75 11.9995 9.75C12.4139 9.75 12.7495 10.0856 12.7495 10.5V20.25C12.7495 20.6644 12.4139 21 11.9995 21C11.5852 21 11.2495 20.6644 11.2495 20.25V10.5ZM7.49953 10.5C7.49953 10.0856 7.83515 9.75 8.24953 9.75C8.6639 9.75 8.99953 10.0856 8.99953 10.5V20.25C8.99953 20.6644 8.6639 21 8.24953 21C7.83515 21 7.49953 20.6644 7.49953 20.25V10.5Z" fill="#D6D6D6")
                    .card__wrapper.card__wrapper-small
                        .card__title 2-комнатная № 245
                        .card__img
                            img(src="img/lk/plan.png")
                        .card__row
                            .card__cell
                                .card__label площадь
                                .card__text 60,52 м
                            .card__cell.card__cell-price
                                .card__label цена покупки
                                .card__text 7 563 219 ₽
                        .deleted__button.tooltip__icon(data-tooltip="Отказаться от бронирования")
                            svg(width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
                                path(d="M19.875 3H15.75V2.25C15.75 1.00734 14.7427 0 13.5 0H10.5C9.25734 0 8.25 1.00734 8.25 2.25V3H4.125C3.08948 3 2.25 3.83948 2.25 4.875V6.375C2.25 6.78923 2.58577 7.125 3 7.125H21C21.4142 7.125 21.75 6.78923 21.75 6.375V4.875C21.75 3.83948 20.9105 3 19.875 3ZM9.75 2.25C9.75 1.83656 10.0866 1.5 10.5 1.5H13.5C13.9134 1.5 14.25 1.83656 14.25 2.25V3H9.75V2.25Z" fill="#D6D6D6")
                                path(d="M3.67284 8.625C3.53901 8.625 3.43237 8.73684 3.43875 8.87053L4.0575 21.8569C4.11469 23.0588 5.10187 24 6.30469 24H17.6944C18.8972 24 19.8844 23.0588 19.9416 21.8569L20.5603 8.87053C20.5667 8.73684 20.46 8.625 20.3262 8.625H3.67284ZM14.9995 10.5C14.9995 10.0856 15.3352 9.75 15.7495 9.75C16.1639 9.75 16.4995 10.0856 16.4995 10.5V20.25C16.4995 20.6644 16.1639 21 15.7495 21C15.3352 21 14.9995 20.6644 14.9995 20.25V10.5ZM11.2495 10.5C11.2495 10.0856 11.5852 9.75 11.9995 9.75C12.4139 9.75 12.7495 10.0856 12.7495 10.5V20.25C12.7495 20.6644 12.4139 21 11.9995 21C11.5852 21 11.2495 20.6644 11.2495 20.25V10.5ZM7.49953 10.5C7.49953 10.0856 7.83515 9.75 8.24953 9.75C8.6639 9.75 8.99953 10.0856 8.99953 10.5V20.25C8.99953 20.6644 8.6639 21 8.24953 21C7.83515 21 7.49953 20.6644 7.49953 20.25V10.5Z" fill="#D6D6D6")
                    .card__wrapper.card__wrapper-small
                        .card__title Студия № 258
                        .card__img
                            img(src="img/lk/plan.png")
                        .card__row
                            .card__cell
                                .card__label площадь
                                .card__text 20,52 м
                            .card__cell.card__cell-price
                                .card__label цена покупки
                                .card__text 3 563 219 ₽
                        .deleted__button.tooltip__icon(data-tooltip="Отказаться от бронирования")
                            svg(width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
                                path(d="M19.875 3H15.75V2.25C15.75 1.00734 14.7427 0 13.5 0H10.5C9.25734 0 8.25 1.00734 8.25 2.25V3H4.125C3.08948 3 2.25 3.83948 2.25 4.875V6.375C2.25 6.78923 2.58577 7.125 3 7.125H21C21.4142 7.125 21.75 6.78923 21.75 6.375V4.875C21.75 3.83948 20.9105 3 19.875 3ZM9.75 2.25C9.75 1.83656 10.0866 1.5 10.5 1.5H13.5C13.9134 1.5 14.25 1.83656 14.25 2.25V3H9.75V2.25Z" fill="#D6D6D6")
                                path(d="M3.67284 8.625C3.53901 8.625 3.43237 8.73684 3.43875 8.87053L4.0575 21.8569C4.11469 23.0588 5.10187 24 6.30469 24H17.6944C18.8972 24 19.8844 23.0588 19.9416 21.8569L20.5603 8.87053C20.5667 8.73684 20.46 8.625 20.3262 8.625H3.67284ZM14.9995 10.5C14.9995 10.0856 15.3352 9.75 15.7495 9.75C16.1639 9.75 16.4995 10.0856 16.4995 10.5V20.25C16.4995 20.6644 16.1639 21 15.7495 21C15.3352 21 14.9995 20.6644 14.9995 20.25V10.5ZM11.2495 10.5C11.2495 10.0856 11.5852 9.75 11.9995 9.75C12.4139 9.75 12.7495 10.0856 12.7495 10.5V20.25C12.7495 20.6644 12.4139 21 11.9995 21C11.5852 21 11.2495 20.6644 11.2495 20.25V10.5ZM7.49953 10.5C7.49953 10.0856 7.83515 9.75 8.24953 9.75C8.6639 9.75 8.99953 10.0856 8.99953 10.5V20.25C8.99953 20.6644 8.6639 21 8.24953 21C7.83515 21 7.49953 20.6644 7.49953 20.25V10.5Z" fill="#D6D6D6")
                    .card__wrapper.card__wrapper-small
                        .card__title 2-комнатная № 245
                        .card__img
                            img(src="img/lk/plan.png")
                        .card__row
                            .card__cell
                                .card__label площадь
                                .card__text 60,52 м
                            .card__cell.card__cell-price
                                .card__label цена покупки
                                .card__text 7 563 219 ₽
                        .deleted__button.tooltip__icon(data-tooltip="Отказаться от бронирования")
                            svg(width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
                                path(d="M19.875 3H15.75V2.25C15.75 1.00734 14.7427 0 13.5 0H10.5C9.25734 0 8.25 1.00734 8.25 2.25V3H4.125C3.08948 3 2.25 3.83948 2.25 4.875V6.375C2.25 6.78923 2.58577 7.125 3 7.125H21C21.4142 7.125 21.75 6.78923 21.75 6.375V4.875C21.75 3.83948 20.9105 3 19.875 3ZM9.75 2.25C9.75 1.83656 10.0866 1.5 10.5 1.5H13.5C13.9134 1.5 14.25 1.83656 14.25 2.25V3H9.75V2.25Z" fill="#D6D6D6")
                                path(d="M3.67284 8.625C3.53901 8.625 3.43237 8.73684 3.43875 8.87053L4.0575 21.8569C4.11469 23.0588 5.10187 24 6.30469 24H17.6944C18.8972 24 19.8844 23.0588 19.9416 21.8569L20.5603 8.87053C20.5667 8.73684 20.46 8.625 20.3262 8.625H3.67284ZM14.9995 10.5C14.9995 10.0856 15.3352 9.75 15.7495 9.75C16.1639 9.75 16.4995 10.0856 16.4995 10.5V20.25C16.4995 20.6644 16.1639 21 15.7495 21C15.3352 21 14.9995 20.6644 14.9995 20.25V10.5ZM11.2495 10.5C11.2495 10.0856 11.5852 9.75 11.9995 9.75C12.4139 9.75 12.7495 10.0856 12.7495 10.5V20.25C12.7495 20.6644 12.4139 21 11.9995 21C11.5852 21 11.2495 20.6644 11.2495 20.25V10.5ZM7.49953 10.5C7.49953 10.0856 7.83515 9.75 8.24953 9.75C8.6639 9.75 8.99953 10.0856 8.99953 10.5V20.25C8.99953 20.6644 8.6639 21 8.24953 21C7.83515 21 7.49953 20.6644 7.49953 20.25V10.5Z" fill="#D6D6D6")
                    .card__wrapper.card__wrapper-small
                        .card__title 2-комнатная № 245
                        .card__img
                            img(src="img/lk/plan.png")
                        .card__row
                            .card__cell
                                .card__label площадь
                                .card__text 60,52 м
                            .card__cell.card__cell-price
                                .card__label цена покупки
                                .card__text 7 563 219 ₽
                        .deleted__button.tooltip__icon(data-tooltip="Отказаться от бронирования")
                            svg(width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
                                path(d="M19.875 3H15.75V2.25C15.75 1.00734 14.7427 0 13.5 0H10.5C9.25734 0 8.25 1.00734 8.25 2.25V3H4.125C3.08948 3 2.25 3.83948 2.25 4.875V6.375C2.25 6.78923 2.58577 7.125 3 7.125H21C21.4142 7.125 21.75 6.78923 21.75 6.375V4.875C21.75 3.83948 20.9105 3 19.875 3ZM9.75 2.25C9.75 1.83656 10.0866 1.5 10.5 1.5H13.5C13.9134 1.5 14.25 1.83656 14.25 2.25V3H9.75V2.25Z" fill="#D6D6D6")
                                path(d="M3.67284 8.625C3.53901 8.625 3.43237 8.73684 3.43875 8.87053L4.0575 21.8569C4.11469 23.0588 5.10187 24 6.30469 24H17.6944C18.8972 24 19.8844 23.0588 19.9416 21.8569L20.5603 8.87053C20.5667 8.73684 20.46 8.625 20.3262 8.625H3.67284ZM14.9995 10.5C14.9995 10.0856 15.3352 9.75 15.7495 9.75C16.1639 9.75 16.4995 10.0856 16.4995 10.5V20.25C16.4995 20.6644 16.1639 21 15.7495 21C15.3352 21 14.9995 20.6644 14.9995 20.25V10.5ZM11.2495 10.5C11.2495 10.0856 11.5852 9.75 11.9995 9.75C12.4139 9.75 12.7495 10.0856 12.7495 10.5V20.25C12.7495 20.6644 12.4139 21 11.9995 21C11.5852 21 11.2495 20.6644 11.2495 20.25V10.5ZM7.49953 10.5C7.49953 10.0856 7.83515 9.75 8.24953 9.75C8.6639 9.75 8.99953 10.0856 8.99953 10.5V20.25C8.99953 20.6644 8.6639 21 8.24953 21C7.83515 21 7.49953 20.6644 7.49953 20.25V10.5Z" fill="#D6D6D6")
                .button__img
                    .icon__wrapper.tooltip__icon(data-tooltip="Добавить ещё")
                        svg(width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg")
                            path(fill-rule="evenodd" clip-rule="evenodd" d="M8.61539 0H7.38462V7.38461H0V8.61539H7.38462V16H8.61539V8.61539H16V7.38462H8.61539V0Z" fill="#005BB9")
                    .button__text Добавить ещё
        .tab__item(data-anchor="2")
            .tab__item__title Паркинг
                span.current 2
            .tab__item__content
                .cards__wrapper
                    .card__wrapper.card__wrapper-small
                        .card__title Машиноместо №25
                        .card__img
                            img(src="img/lk/plan.png")
                        .card__row
                            .card__cell
                                .card__label тип места
                                .card__text.parking-type.parking-type-standart стандартное
                            .card__cell.card__cell-price
                                .card__label цена покупки
                                .card__text 400 219 ₽
                        .deleted__button.tooltip__icon(data-tooltip="Отказаться от бронирования")
                            svg(width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
                                path(d="M19.875 3H15.75V2.25C15.75 1.00734 14.7427 0 13.5 0H10.5C9.25734 0 8.25 1.00734 8.25 2.25V3H4.125C3.08948 3 2.25 3.83948 2.25 4.875V6.375C2.25 6.78923 2.58577 7.125 3 7.125H21C21.4142 7.125 21.75 6.78923 21.75 6.375V4.875C21.75 3.83948 20.9105 3 19.875 3ZM9.75 2.25C9.75 1.83656 10.0866 1.5 10.5 1.5H13.5C13.9134 1.5 14.25 1.83656 14.25 2.25V3H9.75V2.25Z" fill="#D6D6D6")
                                path(d="M3.67284 8.625C3.53901 8.625 3.43237 8.73684 3.43875 8.87053L4.0575 21.8569C4.11469 23.0588 5.10187 24 6.30469 24H17.6944C18.8972 24 19.8844 23.0588 19.9416 21.8569L20.5603 8.87053C20.5667 8.73684 20.46 8.625 20.3262 8.625H3.67284ZM14.9995 10.5C14.9995 10.0856 15.3352 9.75 15.7495 9.75C16.1639 9.75 16.4995 10.0856 16.4995 10.5V20.25C16.4995 20.6644 16.1639 21 15.7495 21C15.3352 21 14.9995 20.6644 14.9995 20.25V10.5ZM11.2495 10.5C11.2495 10.0856 11.5852 9.75 11.9995 9.75C12.4139 9.75 12.7495 10.0856 12.7495 10.5V20.25C12.7495 20.6644 12.4139 21 11.9995 21C11.5852 21 11.2495 20.6644 11.2495 20.25V10.5ZM7.49953 10.5C7.49953 10.0856 7.83515 9.75 8.24953 9.75C8.6639 9.75 8.99953 10.0856 8.99953 10.5V20.25C8.99953 20.6644 8.6639 21 8.24953 21C7.83515 21 7.49953 20.6644 7.49953 20.25V10.5Z" fill="#D6D6D6")
        .tab__item(data-anchor="3")
            .tab__item__title Кладовые
                span.current 5
            .tab__item__content
                .cards__wrapper
                    .card__wrapper.card__wrapper-small
                        .card__title Студия № 258
                        .card__img
                            img(src="img/lk/plan.png")
                        .card__row
                            .card__cell
                                .card__label площадь
                                .card__text 20,52 м
                            .card__cell.card__cell-price
                                .card__label цена покупки
                                .card__text 3 563 219 ₽
                        .deleted__button
                            img(src="img/lk/deleted.svg")
.feedback
    .manager__wrapper
        .manager__img
        .manager__form
            .manager__name Артемий Длиннаяфамилия
            .manager__text Ваш персональный менеджер
            .manager__phone__wrapper
                .img__wrapper
                    img(src="img/lk/phone.svg")
                .manager__phone__text
                    .manager__phone +7 (912) 000-00-00
                    .manager__link.popup__show(data-anchor="#feedback-form") Заказать звонок
    .feedback__location
        .icon__wrapper
            img(src="img/lk/location.svg")
        .layout__text.layout__text-small Отдел продаж
        .layout__text ул. Оптиков, д. 4, корпус 2, БЦ Лахта 1
    .action__buttons
        a(href="#").action__button.active
            .icon__wrapper
                img(src="img/lk/people.svg")
            .layout__text Встреча назначена 21.09.2021, 15:30
        a(href="#").action__button.active
            .icon__wrapper
                img(src="img/lk/map.svg")
            .layout__text Вы записаны
                br
                | на экскурсию 25.09.2021, 11:00

