
.popup__wrapper#feedback-form
    .popup__bg
    .popup__body
        .popup__close(data-anchor="#feedback-form")
            img(src="img/lk/close.svg" alt="")
        .popup__text Закажите обратный звонок для связи с отделом продаж.
        .popup__text Ваш номер телефона:
        .tel__wrapper +7 (912) 000-00-00
        .popup__link Изменить номер
        form.form__wrapper.active
            .input__wrapper
                input(type="text")
            input(type="submit" value="Заменить")
        .button__wrapper.popup__show(data-anchor="#feedback-send") Заказать звонок
.popup__wrapper#feedback-send
    .popup__bg
    .popup__body
        .popup__close(data-anchor="#feedback-send")
            img(src="img/lk/close.svg" alt="")
        .popup__text.popup__text-bold Спасибо за обращение!
        .popup__text Мы Вам перезвоним
        .img__wrapper
            img(src="img/lk/popup-phone.png")
        .button__wrapper Хорошо
.popup__wrapper#list-owners
    .popup__bg
    .popup__body
        .popup__close(data-anchor="#list-owners")
            img(src="img/lk/close.svg" alt="")
        form.form__wrapper
            .list-owners__wrapper(data-simplebar)
                label.checkbox__section
                    .checkbox__label Петина Августина Филлиповна
                    input(type="checkbox")
                    .checkbox__wrapper
                label.checkbox__section
                    .checkbox__label Петина Августина Филлиповна
                    input(type="checkbox")
                    .checkbox__wrapper
                label.checkbox__section
                    .checkbox__label Петина Августина Филлиповна
                    input(type="checkbox")
                    .checkbox__wrapper
                label.checkbox__section
                    .checkbox__label Петина Августина Филлиповна
                    input(type="checkbox")
                    .checkbox__wrapper
                label.checkbox__section
                    .checkbox__label Петина Августина Филлиповна
                    input(type="checkbox")
                    .checkbox__wrapper
                label.checkbox__section
                    .checkbox__label Петина Августина Филлиповна
                    input(type="checkbox")
                    .checkbox__wrapper
                label.checkbox__section
                    .checkbox__label Петина Августина Филлиповна
                    input(type="checkbox")
                    .checkbox__wrapper
                label.checkbox__section
                    .checkbox__label Петина Августина Филлиповна
                    input(type="checkbox")
                    .checkbox__wrapper
                label.checkbox__section
                    .checkbox__label Петина Августина Филлиповна
                    input(type="checkbox")
                    .checkbox__wrapper
                label.checkbox__section
                    .checkbox__label Петина Августина Филлиповна
                    input(type="checkbox")
                    .checkbox__wrapper
                label.checkbox__section
                    .checkbox__label Петина Августина Филлиповна
                    input(type="checkbox")
                    .checkbox__wrapper
                label.checkbox__section
                    .checkbox__label Петина Августина Филлиповна
                    input(type="checkbox")
                    .checkbox__wrapper
            input(type="submit" class="button__wrapper" value="Добавить анкеты")
.popup__wrapper#digital_ipo
    .popup__bg
    .popup__body
        .popup__close(data-anchor="#digital_ipo")
            img(src="img/lk/close.svg" alt="")
        .popup__text.popup__text-bold Цифровая ипотека
        .digital__mortgage-frame Ифрейм