.steps__wrapper.item-bottom-anchor.active(data-anchor="steps")
    .layout__title
        span.layout__title__text Этапы сделки
        span.name Студия № 258
    .step__wrapper.completed.check
        .step__number 1
        .step__title Бронирование квартиры
        .step__text Вам необходимо заполнить информацию о себе в Личном кабинете для формирования Договора долевого участия (ДДУ) и подачи заявки на ипотеку (если потребуется). После заполнения и отправки анкеты, с вами свяжется менеджер отдела продаж.
    .step__wrapper.active.arrow
        .step__number 2
        .step__title Заполнение анкеты покупателя
        .step__text Вам необходимо заполнить информацию о себе в Личном кабинете для формирования Договора долевого участия (ДДУ) и подачи заявки на ипотеку (если потребуется). После заполнения и отправки анкеты, с вами свяжется менеджер отдела продаж.
    .step__wrapper
        .step__number 3
        .step__title Выбор способа оплаты
        .step__text Вам необходимо заполнить информацию о себе в Личном кабинете для формирования Договора долевого участия (ДДУ) и подачи заявки на ипотеку (если потребуется). После заполнения и отправки анкеты, с вами свяжется менеджер отдела продаж.
    .step__wrapper
        .step__number 4
        .step__title Ипотека
        .step__text Вам необходимо заполнить информацию о себе в Личном кабинете для формирования Договора долевого участия (ДДУ) и подачи заявки на ипотеку (если потребуется). После заполнения и отправки анкеты, с вами свяжется менеджер отдела продаж.
    .step__wrapper
        .step__number 5
        .step__title Подготовка к сделке
        .step__text Вам необходимо заполнить информацию о себе в Личном кабинете для формирования Договора долевого участия (ДДУ) и подачи заявки на ипотеку (если потребуется). После заполнения и отправки анкеты, с вами свяжется менеджер отдела продаж.
    .step__wrapper
        .step__number 6
        .step__title Подписание договоров
        .step__text Вам необходимо заполнить информацию о себе в Личном кабинете для формирования Договора долевого участия (ДДУ) и подачи заявки на ипотеку (если потребуется). После заполнения и отправки анкеты, с вами свяжется менеджер отдела продаж.
    .step__wrapper
        .step__number 7
        .step__title Регистрация в Росреестре
        .step__text Вам необходимо заполнить информацию о себе в Личном кабинете для формирования Договора долевого участия (ДДУ) и подачи заявки на ипотеку (если потребуется). После заполнения и отправки анкеты, с вами свяжется менеджер отдела продаж.
    .step__wrapper
        .step__number 8
        .step__title Зачисление средств
    .step__wrapper
        .step__number 9
        .step__title Получение договора долевого участия
