.layout__wrapper
    .location__obj.location__obj-mob.location__obj-sd ЖК "Северная долина"
    .subtitle__wrapper Очередь 7, корпус 3, секция 1
    .title__wrapper Коммерческое помещение №7
    .subtitle__wrapper.subtitle__wrapper-mob Очередь 7, корпус 3, секция 1
    .location__wrapper
        .location__obj.location__obj-sd ЖК "Северная долина"
        .location__title
            .location__img__wrapper
                img(src='img/commercial-detail/location.svg')
            .location__title__text Выборгский район, ул. Федора Абрамова, 2
    .tabs__wrapper
        .tabs__item.tabs__item-active(data-tabs-value="first") 1 этаж
        .tabs__item(data-tabs-value="second") 2 этаж
        .tabs__item(data-tabs-value="third") 3 этаж
    .section__wrapper
        .table__wrapper
            .table__row
                .table__cell Площадь
                .table__cell 103.45 м2
            .table__row
                .table__cell Срок сдачи
                .table__cell Введен в эксплуатацию
            .table__row
                .table__cell Этаж
                .table__cell 1-3
            .table__row
                .table__cell Отделка
                .table__cell Без отделки
            .table__row
                .table__cell Мощность
                .table__cell 1 кВт
            .table__row
                .table__cell Высота потолков
                .table__cell 4.00 — 4.50 м
            .table__row
                .table__cell Стоимость аренды за кв. м.
                .table__cell 5 500 руб/мес
            .table__row.table__row-footer
                .table__cell
                    .text-big 25 500 ₽/мес
                    .text__small *В стоимость включены КУ
                .table__cell
                    a(href="#").button Оставить заявку
        .plane__wrapper.plane__wrapper-active(data-tabs-value="first")
            img(src="img/commercial-detail/floor-1.png" )
        .plane__wrapper(data-tabs-value="second")
            img(src="#")
        .plane__wrapper(data-tabs-value="third")
            img(src="#")
    .gallery__wrapper
        .gallery__items
            .gallery__item
                img(src="img/commercial-detail/gallery-1.png")
            .gallery__item
                img(src="img/commercial-detail/gallery-2.png")
            .gallery__item
                img(src="img/commercial-detail/gallery-3.png")
            .gallery__item
                img(src="img/commercial-detail/gallery-4.png")
        .big__img
            img(src="img/commercial-detail/gallery-big.png")
    .slider__wrapper
        .slider
            .slide
                img(src="img/commercial-detail/gallery-2.png")
            .slide
                img(src="img/commercial-detail/gallery-3.png")
        .buttons__slider







