@import "../mixin/flex.styl"
.layout__wrapper
  margin-top: 180px
  max-width: 1366px
  .main__img__wrapper
    width: 100%
    margin-bottom: 60px
    @media(max-width: 1024px)
      margin-bottom: 40px
    img
      width: 100%
      height: auto
  .result__serch
    margin-bottom: 30px
    flex()
    @media(max-width: 1024px)
      padding-top: 20px
      border-top: 1px solid #DADADA
    &__title
      font-size: 24px
      line-height: 34px
      font-family: 'Geometria', Arial, sans-serif
      font-weight: 500
      flex-grow: 1
      @media(max-width: 1366px)
        display: none
  .select__wrapper
    width: 264px
    margin-right: 26px
    @media(max-width: 1024px)
      width: 100%
      margin-right: 0

.object-name__checkbox
  display: block
  input[type="checkbox"]
    position: absolute
    left: 0
    top: 0
    width: 0.01px
    height: 0.01px
    z-index: -100
    opacity: 0
  label
    border: 1px solid #DADADA
    border-radius: 3px
    box-sizing: border-box
    text-align center
    width: 148px
    padding: 16px 12px
    cursor: pointer
    font-family: "Geometria", Arial, sans-serif
    font-size: 14px
    line-height: 18px
    display: inline-block
    margin-right: 20px
    &:last-child
      margin-right: 0
    @media(max-width: 320px)
      &.object-name-sd
        margin-bottom: 20px

  input:checked+label.object-name-sd
    background-color: rgba(0, 114, 199, 0.05)
    color: #0072C7
    border-color: transparent

  input:checked+label.object-name-yount
    background-color: rgba(64, 160, 53, 0.05)
    color: #40A035
    border-color: transparent

.button
  &-no-bg
    background-color: transparent
    border-color: transparent
    color: #A3A3A3
    &:hover
      border-color: #003349
      color: #003349
    &:focus
      border-color: #003349
      color: #003349
      background-color: transparent
  &-black
    background-color: #003349
    border-color: #003349
    &:focus
      background-color: #003349
      border-color: #003349


.checkbox__wrapper
  label
    position: relative
    cursor: pointer
    color: #3A393C
    flex(flex-start, center, row)
    &:before
      content: ''
      display: block
      width: 20px
      min-width: 20px
      height: 20px
      position: relative
      margin-right: 10px
      background-color: #FFF
      border: 1px solid #DADADA
      border-radius 2px
    &:after
      content: ''
      display: none
      width: 12px
      height: 14px
      position: absolute
      left: 4px
      background: url('../img/commercial-premises/icons/send.svg') no-repeat 50% 50%
      background-size: 100% auto
  input[type='checkbox']
    display: none
  input:checked+label:after
    display: block
  input:invalid+label:before
    border-color: #FF4747


.select-wrapper
  width: 100%
  box-sizing: border-box
  border: 1px solid #DADADA
  border-radius: 3px
  &:hover
    border-color: #003349
    input.select-dropdown
      color: #003349
  ul
    width: 100% !important
    left: 0 !important
    top: 56px !important
    box-shadow: 3px 3px 4px rgba(215, 215, 215, 0.2)
    border: 1px solid #F0F0F0
    li
      min-height: auto
      span
        color: black
        font-size: 14px
        line-height: 18px
        padding: 10px 20px
        border: none
        &:hover
          background-color: #F7F7F7
          border: none
      &.selected
        background-color: #FFF
        span
          background-color: #ffffff
          color: #0072C7
          border: none
      &:hover
        background-color: #FFF
  input.select-dropdown
    border: none !important
    padding: 16px 30px 16px 20px
    margin: 0
    box-sizing: border-box
    font-size: 14px
    line-height: 18px
    color: #A3A3A3

.range
  &__wrapper
    position: relative
    flex()
  &__trak
    position: absolute
    bottom: 0
    left: 0
    width: 100%



.view-mode__wrapper
  flex()
  position: relative
  @media(max-width: 1366px)
    display: none
  input[type="radio"]
    width: 0.01px
    height: 0.01px
    position: absolute
    left: 0
    top: 0
    z-index: -100
    opacity: 0
  label
    width: 40px
    min-width: 40px
    height: 40px
    margin-right: 10px
    cursor: pointer
    &:last-child
      margin-right: 0
    svg
      width: 100%
      height: auto
    &:hover
      svg
        path
          fill: #003349
  input[id="view-mode-tile"]:checked~label[for="view-mode-tile"] svg path,
  input[id="view-mode-simple"]:checked~label[for="view-mode-simple"] svg path
    fill: #003349



.filters__wrapper
  position: relative
  &__title
    font-size: 24px
    line-height: 34px
    font-family: "Geometrial", Arial, sans-serif
    font-weight: 500px
    margin-bottom: 20px
  &>.button
    width: 100%
    text-align center
    display: none
    .icon__wrapper
      width: 14px
      height: 14px
      display: inline-block
      margin-right: 14px
      img
        width: 100%
        height: auto
    .button__text
      font-size: 16px
      line-height: 20px
      color: #fff
      font-family: "Geometria", Arial, sans-serif
      display: inline-block
      margin-right: 14px
    .button__counter
      display: inline-block
      width: 16px
      height: 16px
      text-align center
      color: #0072C7
      font-family: "Geometria", Arial, sans-serif
      font-size: 12px
      line-height: 14px
      background-color: white
      border-radius 50%
    @media(max-width: 1024px)
      display: inline-block
      margin-bottom: 20px

  .filters__form
    display: block
    .close__filters__form
      display: none
    &__row
      flex()
      flex-wrap: wrap
    &__content
      box-sizing: border-box
    &__cell
      margin: 0 26px 30px 0
    &__label
      color: #A3A3A3
      margin-bottom: 10px
    .filters__wrapper__title
      display: none
  .form__cell
    &-small
      width: 141px
    &-normal
      width: 322px
  .checkbox__section
    flex()
    flex-wrap: wrap
    width: 290px
    .checkbox__wrapper
        width: 140px
        &:nth-child(1),&:nth-child(2)
          margin-bottom: 10px
  @media(max-width: 1024px)
    .filters__form
        display: none
        &-active
          display: block
          position: fixed
          left: 0
          right: 0
          top: 0
          bottom: 0
          background-color: #fff
          z-index: 1000
          overflow-y: auto
          .close__filters__form
            display: block
            position: absolute
            top: 10px
            right: 10px
            width: 40px
            height: 40px
            img
              width: 100%
              height: auto
        &__row
          padding: 10px
        &__cell
          margin-bottom: 20px
          margin-right: 0
          &.form__cell-small
            width: 100%
          &.form__cell-normal
            width: 100%
        .filters__wrapper__title
          display: block
          padding-left: 10px
          padding-top: 30px
          font-size: 24px
          line-height: 34px
          color: #3A393C
          font-family: "Geometria", Arial, sans-serif
          font-weight: 500
        .filters__actions__panel
          width: 100%
          flex()
          flex-direction: column-reverse
          .button
            width: 100%
            &-no-bg
              border: 1px solid #003349
              color: #003349
            &-black
              margin-bottom: 20px

.cards__wrapper
  flex()
  flex-wrap: wrap
  @media(max-width: 1385px)
    justify-content: space-around
  .card
    &__wrapper
      width: 438px
      border: 1px solid #DADADA
      box-sizing border-box
      padding: 20px
      margin: 0  26px 26px 0
      font-family: "Geometria", Arial, sans-serif
      font-size: 14px
      line-height: 18px
      color: #3A393C
      position: relative
      &:nth-child(3n+3)
        margin-right: 0
      @media(max-width: 1385px)
        margin-right: 0
    &__slider
      width: 100%
      margin: 0 auto 14px auto
      flex(flex-strat, center, row)
      img
        width: 100%
        height: auto
    &__row
      flex()
      &.object-info__section
        justify-content: space-between
        align-items center
      .object-name
        border-radius: 5px
        padding: 8px
        box-sizing border-box
        font-size: 12px
        line-height: 15px
        &-sd
          color: #0072C7
          background-color: rgba(0, 114, 199, 0.05)
        &-yount
          color: #40A035
          background-color: rgba(0, 114, 199, 0.05)
    &__cell
      margin-bottom: 20px
      margin-right: 30px
      &:last-child
        margin-right: 0
      &.download-pdf
        font-size: 12px
        line-height: 15px
        color: #5E7B87
        flex(flex-start, center, row)
        .icon__wrapper
          width: 20px
          min-width: 20px
          height: 20px
          margin-right: 5px
          img
            width: 100%
            height: auto
    &__location
      color: #A3A3A3
      margin-bottom: 21px
      flex(flex-start, center, row)
      .icon__wrapper
        width: 14px
        min-width: 14px
        margin-right: 8px
        img
          width: 100%
          height: auto
    &__location-top
      display: none
    &__title
      font-size: 22px
      line-height: 22px
      font-weight: 500
      margin-bottom: 6px
    &__subtitle
      color: #A3A3A3
      margin-bottom: 20px
    &__lable
      color: #A3A3A3
      font-size: 10px
      line-height: 13px
      letter-spacing: 0.04em
      text-transform: uppercase
      font-weight: 500
      margin-bottom: 8px
    &__text-small
      font-size: 12px
      line-height: 15px
      color: #A3A3A3
    &__footer
      border-top: 1px solid #DADADA
      padding-top: 20px
      box-sizing: border-box
      .card
        &__cell
          text-align: right
          &-square-meter
            display: none
          &__rent-price
            .card
              &__lable
                display: none
              &__text
                font-size: 24px
                line-height: 30px
                font-weight: 500
                margin-bottom: 4px
      .button
        width: 100%
        text-align: center
  @media all and (min-width: 1366px)
    &-row
      display: block
      .card
        &__wrapper
          width: 100%
          margin: 0 0 26px 0
          padding-left: 180px
          padding-right: 353px
          flex()
          flex-wrap: wrap
          min-height: 238px
        &__slider
          position: absolute
          left: 20px
          top: 20px
          width: 140px
          img
            width: 100%
            height: auto
        &__title
          width: 100%
        &__subtitle
          width: 100%
        &__location
          display: none
          &-top
            display: flex
        &__cell-square-meter
          display: none
        &__cell
          margin-right: 40px
          margin-bottom: 20px
          &:last-child
            margin-right: 40px
        &__footer
          border-top: none
          border-left: 1px solid #DADADA
          position: absolute
          right: 0
          top: 0
          bottom: 0
          width: 353px
          padding: 20px
          box-sizing: border-box
          .card__cell
            margin-bottom: 20px
            margin-right: 0
            .card__lable
              margin-bottom: 4px
            &-square-meter
              display: block
            &__rent-price
              .card
                &__lable
                  display: block




.popup__wrapper
  position: fixed
  left: 0
  right: 0
  top: 0
  bottom: 0
  z-index: 100
  display: none
  justify-content: center
  align-items: center
  flex-direction: row


.popup__wrapper.active
  display: flex


.popup__bg
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  background-color: rgba(58, 57, 60, 0.1)


.popup__body
  position: relative
  width: 434px
  background-color: #fff
  padding: 30px 28px 40px 23px
  box-sizing: border-box
  .popup__title
    font-size: 20px
    line-height: 25px
    font-family: "Geometria", Arial, sans-serif
    font-weight: 500
    color: #3A393C
    margin-bottom: 30px
  .button
    margin: 0 auto
    width: 100%
  .input-text__section
    width: 100%
    box-sizing: border-box
    padding: 15px 20px
    margin-bottom: 10px
    border: 1px solid #DADADA
    border-radius: 2px
    cursor: pointer
    &:last-child
      margin-bottom: 20px
    input
      width: 100%
      border: none !important
      box-sizing: border-box
      margin: 0 !important
      height: auto!important
      &:focus
        border: none !important
        outline: none !important
        box-shadow: none!important



.popup__close
  position: absolute
  top: 25px
  right: 25px
  cursor: pointer
  img
    width: 40px
    height: 40px




.cst_btn
  background: #3A393C
  width: 160px
  height: 48px
  font-family: "Geometria", Arial, sans-serif
  font-style: normal
  font-weight: normal
  font-size: 14px
  line-height: 48px
  text-align: center
  color: #FFFFFF
  margin: 0 auto
  cursor: pointer

.cst_icon
  width: 60px
  height: 60px
  margin: 0 auto 20px auto
  cursor: pointer

.cst_title
  font-family: "Geometria", Arial, sans-serif
  font-style: normal
  font-weight: bold
  font-size: 18px
  line-height: 20px
  color: #3A393C
  margin-bottom: 20px
  text-align: center


.cst_mess
  font-family: "Geometria", Arial, sans-serif
  font-style: normal
  font-size: 14px
  line-height: 18px
  color: #3A393C
  margin-bottom: 20px
  text-align: center

.test
  flex-grow: 1;
  flex-direction: column;


//Новая карточка
.button-show-info
  display: none
.card__info-section
  position: absolute
  left: 0
  right: 0
  bottom: 0
  top: 0
  z-index: 1
  background-color: #fff
  padding: 24px 20px 24px 24px
  display: none
  .close__wrapper
    display: none
    width: 24px
    height: 24px
    margin-left: auto
    margin-bottom: 12px
    img
      width: 100%
      height: auto
@media(min-width: 1024px)
  .card__wrapper-new
    .card__info-section:hover,
    .card__footer:hover+.card__info-section
      display: block
    .card__info-section
      .text__wrapper
        margin-bottom: 32px
      .button
        display: block
        width: 191px
        text-align: center
        margin-left: auto
@media(max-width: 1024px)
 .button-show-info
    display: block
  .card__info-section .close__wrapper
    display: block
  .card__wrapper-new.is-show-info .card__info-section
    display: block





































