.layout__wrapper.layout-6
    .layout__title Комплексный подход
    .items__wrapper
        .item__wrapper
            .item__icon
                img(src="./img/icons/roads.svg")
            .item__text Открыто 8 участков дорог. Обеспечены выезды на пр. Энгельса
        .item__wrapper
            .item__icon
                img(src="./img/icons/objects.svg")
            .item__text Функционирует более 200 объектов инфраструктуры
        .item__wrapper
            .item__icon
                img(src="./img/icons/fitness.svg")
            .item__text Работает фитнес-центр с бассейном
        .item__wrapper
            .item__icon
                img(src="./img/icons/park-2.svg")
            .item__text Ведется разработка проекта парка площадью 10,8 Га
        .item__wrapper
            .item__icon
                img(src="./img/icons/hospital.svg")
            .item__text Открыты педиатричесvкое отделение СПБ ГБУЗ «Детская городская поликлиника №71», офис врача общей практики и участковый пункт полиции
    .silder__wrapper
        .img__wrapper
            img(src="./img/layout-6.png")
    .apartament-search__section
        .text Выберите свою квартиру в «Северной долине»
        button(class="button") Подобрать квартиру