.layout__wrapper.layout-8
    .items__wrapper
        .item__wrapper
            .item__icon
                img(src="./img/infrastructure.png")
            .item__text__wrapper
                .layout__title Инфраструктура
                .layout__text__wrapper
                    .item__text Сделать жизнь в наших кварталах удобной, современной и безопасной — наша приоритетная задача. Именно поэтому мы считаем, что развитие социальной, коммерческой и транспортной инфраструктуры района так же важно, как и строительство, непосредственно, жилых домов.

        .item__wrapper
            .item__text__wrapper
                .item__text__icon
                    img(src="./img/icons/education.svg")
                .item__text__subtitle Образование
                .item__text Уже сегодня в «Северной долине» работают 6 дошкольных образовательных учреждений и 2 корпуса школы № 482 и школа № 469.
                            |
                            br
                            |К моменту завершения проекта будут функционировать 13 детских садов, 10 школ, подстанция скорой помощи, детская и взрослая поликлиники, пожарная часть, отделения полиции и связи.
            .item__icon
                img(src="./img/education.png")

        .item__wrapper
            .item__icon
                img(src="./img/camera.png")
            .item__text__wrapper
                .item__text__icon
                    img(src="./img/icons/camera.svg")
                .item__text__subtitle Безопасный квартал
                .item__text Наш жилой комплекс – это не только забота о вашем комфорте, но и самые строгие требования к безопасности. Индивидуальный контроль доступа к различным локациям, видеодомофония и комплекс интеллектуального видеонаблюдения. Используя специальное приложение на смартфоне или ноутбуке, вы всегда сможете увидеть, что происходит в холле, на детской площадке или в паркинге, из любой точки земного шара.

        .item__wrapper
            .item__text__wrapper
                .item__text__icon
                    img(src="./img/icons/courtyards.svg")
                .item__text__subtitle Закрытые благоустроенные дворы
                .item__text «Новый уровень комфорта» относится не только к жилым квадратным метрам, но и к территории 21 квартала в целом. Функциональные детские площадки, зоны для хранения велосипедов, продуманный проект озеленения территории и серия модных арт-объектов.
            .item__icon
                img(src="./img/courtyards.png")

        .item__wrapper
            .item__icon
                img(src="./img/interior.png")
            .item__text__wrapper
                .item__text__icon
                    img(src="./img/icons/interior.svg")
                .item__text__subtitle Интерьер холлов
                .item__text В 21 квартале холл — это не только территория у лифтов, но и часть вашего жизненного пространства. Большое внимание уделяется дизайну интерьеров мест общего пользования. При этом, территория выполняет и утилитарные задачи: здесь расположены закрытые колясочные и зоны для хранения велосипедов.

