.layout__wrapper.layout-9
    .layout__title Контакты
    .items__wrapper
        .item__wrapper
            .layout__subtitle
                .icon__wrapper
                    img(src="./img/icons/location-red.svg")
                .text Офис продаж
            .layout__text +7 (812) 604-04-04
                |
                br
                | г. Санкт-Петербург, БЦ "Лахта-2”, ул. Оптиков, д.4, корпус 3, лит. А
        .item__wrapper
            .layout__subtitle
                .icon__wrapper
                    img(src="./img/icons/location-red.svg")
                .text Офис продаж на объекте
            .layout__text +7 (812) 649-70-29
                |
                br
                | ст. м. Парнас напротив дома 4 по улице Фёдора Абрамова
        .item__wrapper
            .layout__subtitle
                .icon__wrapper
                    img(src="./img/icons/location-red.svg")
                .text Клиентский сервис
            .layout__text +7 (812) 649-70-29
                |
                br
                | Customerservice@glavstroy.ru
    a.layout__link(href="#") Проложить маршрут
    .map__section
        img(src="./img/map.png")
