.layout__wrapper.layout-4
    .layout__title Расположение
    .items__wrapper
        .item__wrapper
            .item__icon
                img(src="./img/icons/metro-logo-red.svg")
            .item__text Ближайшее метро Парнас
        .item__wrapper
            .item__icon
                img(src="./img/icons/location-red.svg")
            .item__text 30 минут до центра города
        .item__wrapper
            .item__icon
                img(src="./img/icons/kad.svg")
            .item__text 5 минут до КАД
    .map__section
        img(src="./img/map.png")