.layout__wrapper.layout-7
    .layout__title Отделка
    .layout__text
        .layout__text__p 21 квартал предлагает квартиры как без отделки, так и с качественной чистовой отделкой. В первом случае вы получаете широкие возможности для создания индивидуального проекта. Во втором — делаете разумный выбор в пользу готовой квартиры с качественным ремонтом.
        .layout__text__p Но какой выбор вы бы ни сделали — он будет правильным, поскольку вы будете жить в 21 квартале от компании «Главстрой Санкт-Петербург».
    .main__img__wrapper
        .main__img.main__img-desk
            img(src="./img/layout-7.png")
        .main__img.main__img-mob
            img(src="./img/layout-7-mob.png")
        .items__wrapper
            .items__wrapper__title Варианты отделки
            .item__wrapper
                .item__icon
                    svg(width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg")
                        path(d="M10 0V10M10 20V10M10 10H0H20" stroke="#003349" stroke-width="2.5")
                .item__text Без отделки
            .item__wrapper
                .item__icon
                    svg(width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg")
                        path(d="M10 0V10M10 20V10M10 10H0H20" stroke="#003349" stroke-width="2.5")
                .item__text Ванильное небо
            .item__wrapper
                .item__icon
                    svg(width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg")
                        path(d="M10 0V10M10 20V10M10 10H0H20" stroke="#003349" stroke-width="2.5")
                .item__text Кофе с молоком
