.layout__wrapper.layout-3
    .main__img.main__img-desk
        img(src="./img/layout-3.png")
    .main__img.main__img-mob
        img(src="./img/layout-3-mob.png")
    .infographics__section
        .item.parking
            .item__text
                .number 578
                .text Парковочных мест
            .item__icon
                img(src="./img/icons/parking.svg")
            .item__line
        .item.house
            .item__text
                .number 12
                .text Детских садов
            .item__icon
                img(src="./img/icons/house-2.svg")
            .item__line
        .item.bell
            .item__text
                .number 10
                .text Школ
            .item__icon
                img(src="./img/icons/bell.svg")
            .item__line
        .item.cart
            .item__text
                .text Коммерческие помещения
            .item__icon
                img(src="./img/icons/cart.svg")
            .item__line
        .logo__wrapper
            img(src="./img/icons/21-sevdol-logo-white.svg")
