.layout__wrapper.layout-2
    .layout__title О проекте
    .layout__text Новый благоустроенный городской район, который находится в пешей доступности от станции метро "Парнас".
        |
        br
        | На территории комплекса функционируют две школы и четыре детских сада. Организованы игровые и волейбольные площадки, футбольные поля, зоны отдыха для детей и взрослых.
    .items__wrapper.items__wrapper-infrastructure
        .item__wrapper
            .item__icon
                img(src="./img/icons/playground.svg")
            .item__text Детские и спортивные площадки
        .item__wrapper
            .item__icon
                img(src="./img/icons/schools.svg")
            .item__text Сады и школы на территории
        .item__wrapper
            .item__icon
                img(src="./img/icons/park.svg")
            .item__text Шуваловский парк
        .item__wrapper
            .item__icon
                img(src="./img/icons/rest-and-walks.svg")
            .item__text Места для отдыха и прогулок
    .items__wrapper.items__wrapper-list
        .item__wrapper
            .item__text Многоэтажные паркинги
        .item__wrapper
            .item__text Коммерческие помещения